@font-face {
  font-family: 'IntroHeadB-Base';
  src: url('IntroHeadB-Base.eot');
  src: url('IntroHeadB-Base.woff2') format('woff2'),
       url('IntroHeadB-Base.woff') format('woff'),
       url('IntroHeadB-Base.ttf') format('truetype'),
       url('IntroHeadB-Base.svg#IntroHeadB-Base') format('svg'),
       url('IntroHeadB-Base.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

