
@font-face {
    font-family: 'lenaregular';
    src: url('lena-webfont.woff2') format('woff2'),
         url('lena-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'guerrillanormal';
    src: url('guerrilla-normal-webfont.woff2') format('woff2'),
         url('guerrilla-normal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



