.aside-article {
  flex-grow: 1;
  padding: 15px;
}

.aside-rubrics {
  margin-top: 45px;
  padding: 30px;
  background: url("../img/aside-article/bg-rubrics.jpg") no-repeat center;
  background-size: cover;
  &__title {
    color: #ffffff;
    font-family: "GothamPro-Medium", sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
  }
  &__list {
    padding: 0;
    margin-bottom: 10px;
    list-style: none;
    &-link {
      color: #ffffff;
      font-family: "GothamPro-Medium", sans-serif;
      font-size: 14px;
      line-height: 31px;
      text-decoration: underline;
      &:hover {
        color: #D8D5DB;
      }
    }
    &-quantity {
      height: 16px;
      border-radius: 2px;
      background-color: #fc63c5;
      display: inline-block;
      color: #ffffff;
      font-family: "GothamPro-Medium", sans-serif;
      font-size: 11px;
      padding: 0 6px;
      line-height: 16px;
      margin-left: 10px;
    }
  }
  &__more {
    color: white;
    font-size: 12px;
    line-height: 24px;
    text-decoration: underline;
    padding-right: 30px;
    background: url("../img/aside-article/decor-arrow-white.png") no-repeat center right;
    &:hover {
      color: #D8D5DB;
    }
  }
}

.aside-mila {
  margin-top: 30px;
  padding: 30px;
  background: #ebe3ed url("../img/aside-article/mila.png") no-repeat bottom right;
  &__title {
    color: #1a1a1c;
    font-family: "GothamPro-Medium", sans-serif;
    font-size: 18px;
    margin-bottom: 25px;
  }
  &__text {
    font-family: "GothamPro";
    color: #1a1a1c;
    font-size: 13px;
    line-height: 21px;
    margin-bottom: 75px;
    padding-right: 100px;
  }
  &__rubrics-more {
    color: #663399;
    font-size: 12px;
    line-height: 24px;
    text-decoration: underline;
    padding-right: 30px;
    background: url("../img/aside-article/decor-arrow-blue.png") no-repeat center right;
    &:hover {
      opacity: 0.75;
      color: #663399;
    }
  }
}

.aside-book {
  margin-top: 30px;

  &__heading {
    background: #663399;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
  }
  &__content{
    background: #e8387a;
    padding: 30px;
  }
  &__title{
    color: #ffffff;
    font-family: "GothamPro-Medium", sans-serif;
    font-size: 18px;
    margin-bottom: 25px;
  }
  &__text{
    font-family: "GothamPro";
    color: #ffffff;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 25px;
    overflow: hidden;
  }
  &__content-bottom{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
  }
  &__price{
    color: #ffffff;
    font-family: "GothamPro-Bold", sans-serif;
    font-size: 18px;
  }
  &__more{
    color: white;
    box-shadow: 0 2px 10px rgba(96, 54, 158, 0.3);
    border-radius: 2px;
    background-color: #60369e;
    border: none;
    font-family: "GothamPro";
    font-size: 13px;
    padding: 5px 10px;
    &:hover{
      opacity: 0.7;
      color: white;
      text-decoration: none;
    };
  }
}

.aside-discuss{
  margin-top: 30px;
  padding: 30px;
  background: white;
  border-radius: 2px;
  border: 2px solid #f0e9f0;

  &__title{
    color: #1a1a1c;
    font-family: "GothamPro-Medium", sans-serif;
    font-size: 18px;
    margin-bottom: 25px
  }

  &__item{
    display: flex;
    margin-bottom: 15px;
    &-photo{
      position: relative;
      display: inline-block;
      &:after{
        content: url("../img/aside-article/disccus-photo--active.png");
        position: absolute;
        top: -8px;
        right: 0px;
      }
    }
    &-info{
      margin-left: 6px;
    }

    &-link{
      font-family: "GothamPro";
      font-size: 13px;
      line-height: 13px;
      display: inline-block;
      height: 13px;
      overflow: hidden;
      color: black;
      &:hover{
        text-decoration: none;
        opacity: 0.7;
        color: black;
      }
    }
    &-count{
      font-family: "GothamPro";
      color: #9ca0a2;
      font-size: 11px;
      line-height: 6px;
      margin: 0;
    }
  }

  &__more {
    color: #663399;
    font-size: 12px;
    line-height: 24px;
    text-decoration: underline;
    padding-right: 30px;
    background: url("../img/aside-article/decor-arrow-blue.png") no-repeat center right;
    &:hover {
      opacity: 0.75;
      color: #663399;
    }
  }
}