.banner-august {
  min-height: 806px;
  background: url("../img/banner-august/bg-main.png") center no-repeat;
  background-size: cover;
  overflow-x: hidden;

  color: white;
  text-transform: uppercase;
  z-index: 100;

  //TOOLS
  &__font-open{
    font-family: "GaramondPremrPro-LtDisp";
    font-size: 28px;
  }
  &__font-heading-small{
    font-family: "GaramondPremrPro-LtDisp";
    font-size: 15px;
  }
  &__font-heading-mid{
    font-family: "GaramondPremrPro-LtDisp";
    font-size: 28px;
  }
  &__font-heading-course{
    font-family: "GaramondPremrPro-LtDisp";
    font-size: 45px;
  }
  &__font-heading-intensive {
    font-family: "GaramondPremrPro-LtDisp";
    font-size: 33px;
  }


  &__btn {
    border-radius: 4px;
    border: none;
    font-family: "GothamPro";
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px 19px;
    &:before {
      content: url("../img/banner-august/btn-img.png");
      margin-right: 10px;
    }
    &:hover {
      opacity: 0.8;
    }
  }

  .banner-august__btn-one {
    padding:  12px 8px;
    border-radius: 4px;
    background: #cc33ff;
    white-space: nowrap;
    color: white;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }

  .banner-august__btn-two {
    padding:  12px 8px;
    border-radius: 4px;
    margin-top: 4px;
    background: white;
    white-space: nowrap;
    color: #ff3366;
    &:before {
      content: url("../img/banner-august/btn-img-purpure.png");
      margin-right: 10px;
    }
    &:hover {
      color:  #ff3366;
      text-decoration: none;
    }
  }

  .banner-august__btn-three {
    padding:  12px 8px;
    border-radius: 4px;
    background: #ff6699;
    color: white;
    white-space: nowrap;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
  // MAIN PART
  &__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 110px;
  }

  &__p-main {
    font-size: 44px;
    line-height: 35px;
    letter-spacing: 2px;
    text-transform: none;
  }

  &-price{
    min-width: 130px;
    position: absolute;
    font-family: "GaramondPremrPro-LtDisp";
    &__total{
      font-size: 16px;
      text-transform: uppercase;
      margin-bottom: 25px;
      text-align: left;
      position: relative;
      z-index: 10;
      &:before{
        position: absolute;
        content: url("../img/banner-august/bg-price.png");
        left: -50px;
        top: -75px;
        z-index: -1;
      }
    }
    &__price{
      position: relative;
      font-size: 60px;
      line-height: 1px;
      z-index: 10;
    }
    &__currency{
      font-size: 16px;
      text-transform: none;
    }

    &--position-course{
      top: -16px;
      right: 65%;
    }
    &--position-intensive{
      top: -16px;
      left: 75%;
    }
  }
  //__sidebar-left START
  &__sidebar-left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &__apps {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    &-text {
      font-family: "GothamPro-Medium";
      font-size: 11px;
      line-height: 14px;
      text-transform: none;
      margin-top: 15px;
    }
  }
  //__sidebar-left STOP
  &__a-more {
    margin-top: 17px;
    display: inline-block;
    color: white;
    border-bottom: 1px dashed #660099;
    font-family: "GothamPro";
    font-size: 12px;
    text-transform: none;
    padding: 0 5px;
    &:before {
      content: url("../img/banner-august/a-more-arrow.png");
      margin-right: 10px;
    }
  }

  //__course START
  &-course {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    text-align: right;
    position: relative;
    padding-right: 0;
    margin-bottom: 20px;

    &__footer {
      text-align: right;
    }
  }
  //__offer START
  &__offer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin-bottom: 20px;


    &-price-wrap {
      min-height: 382px;
      display: flex;
      flex-direction: column;
      align-items: center;

      width: 100%;
      position: relative;
      &:before {
        position: absolute;
        left: 50%;
        margin-left: -48px;
        top: 55px;
        content: url("../img/banner-august/decor-offer-price-up.png");
      }
      &:after {
        position: absolute;
        left: 50%;
        margin-left: -48px;
        bottom: 35px;
        content: url("../img/banner-august/decor-offer-price-dn.png");
      }
    }

    &-price{
      position: absolute;
      top: 150px;
      left: 50%;
      margin-left: -55px;
      font-family: "GaramondPremrPro-LtDisp";
      font-style: italic;
      font-size: 55px;
      color: #990099;
      font-weight: bold;

    }
    &-p-actual {
      font-family: "Verdana";
      font-size: 10px;
      line-height: 13px;
      text-align: center;
      text-transform: none;
    }

    &-footer {
      text-align: center;
    }
  }

  &__intensive {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 0;
    position: relative;
    margin-bottom: 20px;
  }

  &__sidebar-right{
    margin-top: 60px;
  }
}


@media (max-width: 1199px) {
  .banner-august__font-heading-mid{
    font-size: 24px;
  }
  .banner-august__h-main {
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 2px;
  }
  .banner-august__course-price {
    left: -35px;
  }
  .banner-august__intensive-price {
    top: -70px;
    right: -70px;
  }
}

@media (max-width: 991px) {
  .banner-august__sidebar-left {
    display: none;
  }
  .banner-august__sidebar-right {
    display: none;
  }
  .banner-august__course-price {
    position: static;
  }
  .banner-august__intensive-price {
    position: static;
  }

  .banner-august__h-main {
    font-size: 38px;
  }
}

@media (max-width: 767px) {
  .banner-august{
    &-price{
      position: static;
      margin: 50px 0 100px 0;
    }

    &__offer {
      order: 3;
    }

    &-course {
      align-items: center;
      text-align: center;
      padding-left: 0;
      margin-bottom: 3rem;

      &__footer {
        text-align: center;
      }
    }

    &__intensive {
      padding-right: 0;
      align-items: center;
      text-align: center;
    }

    .banner-august__btn-one,
    .banner-august__btn-two,
    .banner-august__btn-three
    {
      margin: 5px;
    }
  }
}

