@import "vars";

.banner__courses {
	&--left {
		background: transparent;
	}
	&--left-span {
		font-style: normal;
	}
	&--date {
		font-family: 'Amatic SC', cursive;
		font-style: normal;
		font-size: 35px;
		font-weight: 700;
	}
	&--course {
		font-family: 'Amatic SC', cursive;
		font-size: 30px;
		font-style: normal;
	}

	&--header {
		font-family: 'Amatic SC', cursive;
		font-size: 97px;
		font-style: normal;
		font-weight: 700;
		&:after {
			display: none;
		}
	}

	&--course-sec {
		font-family: 'Amatic SC', cursive;
		font-size: 30px;
		font-style: normal;
		max-width: 225px;
	}

	&--header-sec {
		margin-top: 20px;
		font-family: 'Amatic SC', cursive;
		font-size: 97px;
		font-style: normal;
		font-weight: 700;
		&:after {
			display: none;
		}
	}

	&--header-add {
		font-family: 'Amatic SC', cursive;
		font-size: 55px;
		margin-top: -5px;
	}

	&--right {
		right: 44px;
		top: 175px;
		&:before{
			display: none;
		}
		&:after{
			display: none;
		}
	}

	&--button {
		margin-top: 33px;
	}


	&--btn-left {
		box-shadow: 0 4px 0 #c40f2d;
		background: #ff3b5c;
	}

	&--btn-right {
		box-shadow: 0 4px 0 #5f3ec3;
		background: #714ce0;
	}
}