.cabinet{
  &-aside-wrap{
    background: white;
    margin-top: 34px;
    padding: 29px 0;
    min-width: 277px;
  }
  &-aside__list{
    list-style: none;
    padding: 0px;
  }
  &-aside__list-item{
    border-left:2px solid transparent;
    padding-left:29px;
    &:hover{
      background: #ff99cc;
      border-left:2px solid #ff0099;
    }
    &:hover .cabinet-aside__list-item-text{
      color: white;
      text-decoration: none;
    }
  }
  &-aside__list-item-text{
    font-family: "GothamPro";
    font-size: 13px;
    line-height: 41px;
    color: #666666;
    text-transform: uppercase;
  }
}
@media (max-width: 1200px) {
  .cabinet-aside-wrap{
    width: calc(100% - 30px);
    align-self: center; //USE THIS ON MERGE ITS FIX BUG  && DONT USE IN MAIN STYLE!!!
  }
}