$choose-course-clrViolet: #663399;
$choose-course-clrTextMain: #666666;
$choose-course-clrGrey: #333333;
$choose-course-clrPink: #ff6699;
$choose-course-clrPink2: #ff3366;
$choose-course-clrLightGrey: #999999;
$choose-course-clrLightGrey2: #cccccc;
$choose-course-clrBtnGreen: #25ba48;
$choose-course-opacity: 0.4;

.clrPink {
	color: $choose-course-clrPink;
}

.clrViolet {
	color: $choose-course-clrViolet;
}

.clrWhite{
	color: white;
}

.bgWhiteOpacity {
	background: rgba(255, 255, 255, $choose-course-opacity);
}

.choose-course-counter {
	&:before {
		width: 29px;
		height: 29px;
		content: '1';
		background: white;
		border-radius: 50%;
		font-family: "GothamPro";
		font-size: 16px;
		line-height: 29px;
		margin-right: 11px;
		position: absolute;
		left: 15px;
		top: -7px;
		text-align: center;
	}
	&__sec {
		&:before {
			width: 29px;
			height: 29px;
			content: '2';
			background: white;
			border-radius: 50%;
			font-family: "GothamPro";
			font-size: 16px;
			line-height: 29px;
			margin-right: 11px;
			position: absolute;
			left: 15px;
			top: -6px;
			text-align: center;
		}
	}

	&__three {
		&:before {
			width: 29px;
			height: 29px;
			content: '3';
			background: white;
			border-radius: 50%;
			font-family: "GothamPro";
			font-size: 16px;
			line-height: 29px;
			margin-right: 11px;
			position: absolute;
			left: 15px;
			top: -6px;
			text-align: center;
		}
	}
}

.choose-footer .choose-course__btnSelect{
	margin: 0 20px;
}

.choose-course {
	background: url(../img/chose-cource-050618/bg-main.png) center no-repeat;
	background-size: cover;

	.container {
		display: flex;
		flex-wrap: wrap;
	}

	&__btnSelect {
		font-family: "GothamPro";
		font-size: 16px;
		line-height: 26.58px;
		color: white;
		border: none;
		border-radius: 3px;
		background: $choose-course-clrBtnGreen;
		padding: 10px 35px;
		cursor: pointer;
		&--active {
			background: $review-button;
		}
		&-img {
			margin-right: 10px;
		}
		&:hover {
			opacity: 0.9;
		}
		&:active {
			background: $review-button;
			outline: none;
		}
		&:disabled {
			opacity: 0.5;
		}
	}

	&__btnPayPal {
		font-family: "GothamPro";
		font-size: 13.94px;
		line-height: 26.58px;
		color: $choose-course-clrGrey;
		border: 1px solid $choose-course-clrLightGrey;
		border-radius: 3px;
		background: white;
		padding: 10px 35px;
		cursor: pointer;
		&-img {
			margin-right: 10px;
		}
		&:hover {
			opacity: 0.9;
		}
		&:active {
			background: $review-button;
		}
		&:disabled {
			opacity: 0.5;
		}
	}

	&__btn-info{
		background: url("../img/chose-cource-050618/Shape-1.png") no-repeat center;
		background-size: cover;
		display: inline-block;
		width: 14px;
		height: 14px;
		border: none;
		border-radius: 50%;
		cursor: pointer;
		margin: 0 10px;
		&:hover {
			opacity: 0.5;
		}
		&:active {
			background: white url("../img/chose-cource-050618/Shape-1.png") no-repeat center;
		}
	}

	&__h3 {
		font-family: "GothamPro";
		font-size: 16px;
		line-height: 18px;
		color: $choose-course-clrGrey;
		width: 100%;
		padding-left: 60px;
		position: relative;
		margin-top: 10px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	&__header {
		display: flex;
		flex-wrap: wrap;
	}

	&__header-h2 {
		font-family: "GothamPro-Bold";
		font-size: 35px;
		line-height: 56px;
		color: $choose-course-clrViolet;
		text-transform: uppercase;
	}

	&__email {
		display: flex;
		flex-wrap: wrap;
	}

	&__email-inp {
		height: 52px;
		min-width: 210px;
		max-width: 330px;
		border: none;
		border-radius: 2px;
		font-family: "GothamPro";
		font-size: 13px;
		line-height: 11px;
		color: $choose-course-clrLightGrey;
		padding-left: 60px;
		background: white url("../img/chose-cource-050618/email.png") no-repeat 20px;
		margin-bottom: 15px;
	}

	&__email-p {
		font-family: "GothamPro";
		font-size: 13px;
		line-height: 18px;
		color: $choose-course-clrGrey;
		margin: 0;
		padding-left: 24px;
		position: relative;

		&:before {
			content: "*";
			color: $choose-course-clrPink;
			position: absolute;
			left: 12px;
			font-size: 18px;
		}
	}

	&__section-wrap {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 20px 0;
		&-inner {
			width: 100%;
			padding: 25px 0;
			border-radius: 4px;
			box-shadow: 1px 1px 1px #ccc;
		}
	}

	&__courses-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 30px;
		&-description {
			font-family: "GothamPro-Medium";
			font-size: 23px;
			line-height: 20px;
			margin: 0;
		}
		&-start-time {
			font-family: "GothamPro-Medium";
			font-size: 11px;
			line-height: 20px;
			color: $choose-course-clrLightGrey;
			text-transform: uppercase;
			margin: 0;
		}
	}

	&__courses-lists {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		padding: 0;
		margin: 0;
	}

	&__course {
		margin: 20px 0 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		background: white;
		background-image: url("../img/choose-course/course-wings-sec.png");
		background-repeat: no-repeat;
		background-size: 90% 30px;
		background-position: 12px 80px;
		padding: 25px;
		border-radius: 4px;
		max-width: 235px;
		&-header {
			font-family: "GothamPro";
			font-size: 20.32px;
			line-height: 26.58px;
			color: $choose-course-clrGrey;
			text-transform: uppercase;
		}
		&-price {
			font-family: 'GothamPro-Bold';
			font-size: 44px;
			font-weight: 400;
			margin-bottom: 0;
		}
	}

	&__lists-wrap {
		ul {
			list-style-image: url('../img/choose-course/li-elem.png');
			padding: 0 20px;
			text-align: left;
			position: relative;
		}
		li {
			color: $element-col;
			font-family: "GothamPro";
			font-size: 13px;
			font-weight: 400;
			line-height: 13px;
		}
	}

	&__favorably {
		border-bottom: 2px solid $choose-course-clrPink2;
		&-text {
			margin: 0;
			background: $choose-course-clrPink2;
			color: white;
			padding: 0 5px;
			display: inline-block;
			font-family: "GothamPro-Bold";
			font-size: 14px;
			line-height: 25px;
		}
		margin-bottom: 15px;
	}

	&__economy-lists {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__economy-list {
		background: url("../img/chose-cource-050618/linear-card.png") no-repeat center;
		background-size: cover;
		display: flex;
		width: 47%;
		border-radius: 4px;
		flex-direction: column;
		align-items: center;
		padding: 0 10px 26px;
		margin: 13px 0 20px;
		text-align: center;
		@media (max-width: 991px) and (min-width: 768px) {
			width: 100%;
		}
		ul{
			padding-left: 30px;
		}
		li{
			color: white;
		}
	}

	&__economy-list--inner {
		width: 100%;
		background-image: url("../img/chose-cource-050618/decor-economy.png");
		background-repeat: no-repeat;
		background-size: 90% 30px;
		background-position: 12px 107px;
	}

	&__economy-price {
		font-family: "GothamPro-Bold";
		font-size: 44.18px;
		line-height: 44.18px;
		color: $choose-course-clrPink;
		position: relative;
	}

	&__form {
		min-height: 76px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		margin-top: 20px;
		padding: 16px 24px;
		background: rgba(255, 255, 255, $choose-course-opacity);
		border-radius: 4px;
		box-shadow: 1px 1px 1px $choose-course-clrLightGrey2;
	}

	&__plan {
		padding-left: 0px ;
		overflow: hidden;
		cursor: pointer;
		margin-bottom: 0px;

		&-check{
			position: relative;
			margin-left: -11px;
			//display: inline-block;
			width: 0;
			height: 0;
			@-moz-document url-prefix() {
				width: 31px;
				height: 19px;
				margin-left: 2px;
			}
			&:before {
				content: '';
				width: 22px;
				height: 22px;
				position: absolute;
				background: transparent;
				border: 2px solid #dcdee4;
				left: 14px;
				bottom: -6px;
				z-index: 1;
			}

		}

		&-check:checked{
			&:before {
				border: 2px solid #a453e2;
			}
			&:after {
				content: '';
				width: 14px;
				height: 14px;
				position: absolute;
				background: #a453e2;
				opacity: 1;
				left: 18px;
				bottom: -2px;
			}
		}

		&-span {
			font-family: "GothamPro";
			font-size: 13px;
			line-height: 20px;
			margin-left: 37px;
		}
	}

	&__promoCode {
		padding-right: 0px !important;
	}

	&__promoCode-input {
		width: 100%;
		border: 1px solid $choose-course-clrLightGrey2;
		color: $choose-course-clrLightGrey;
		border-radius: 2px;
		font-family: "GothamPro";
		font-size: 13px;
		padding: 9px;
	}

	&__promoP {
		font-family: "GothamPro";
		font-size: 11px;
		line-height: 18px;
		color: $choose-course-clrTextMain;
	}

	&__gift-check-wrap{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		@media (max-width: 768px) {
			align-items: baseline;
		}
	}

	&__gift {
		margin-bottom: 20px;
		&-lists {
			padding: 0px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			list-style: none;
		}
		&-item {
			margin-top: 10px;
			width: 100%;
			box-sizing: border-box;
			border: 1px solid $choose-course-clrLightGrey2;
			color: $choose-course-clrLightGrey;
			border-radius: 2px;
			font-family: "GothamPro";
			font-size: 14px;
			padding: 14px;
		}
	}
}


@media (max-width: 1200px) {
	.choose-footer__calc, .choose-footer__calc-cards {
		justify-content: center !important;
	}
}

@media (max-width: 767px) {
	.choose-course__plan {
		margin-top: 20px;
		padding: 0;
	}
	.choose-course__promoCode {
		margin-top: 20px;
		padding: 0;
	}
}

.choose-footer {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	min-height: 100px;
	z-index: 9;
	&__decor:before {
		content: url("../img/chose-cource-050618/decor-cards.png");
		position: absolute;
		left: 10px;
		bottom: 36px;
	}

	&__calc {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		&-cards {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
		}

		&-card {
			background: white;
			width: 64px;
			height: 78px;
			padding: 10px 0;
			position: relative;
			margin: 12px 12px;
			box-shadow: 1px 1px 1px $choose-course-clrLightGrey2;
			//z-index: 100;
		}

		&-card-stack {
			box-shadow: 1px 1px 1px $choose-course-clrLightGrey2,
			5px 5px 1px $choose-course-clrLightGrey2;
		}

		&-cardNumber {
			font-family: 'GothamPro-Bold';
			font-size: 35px;
			line-height: 35px;
			color: $choose-course-clrPink;
			text-align: center;
			margin: 0;
		}

		&-cardCourse {
			font-family: 'GothamPro-Bold';
			font-size: 6.88px;
			color: $choose-course-clrViolet;
			text-align: center;
			text-transform: uppercase;
			margin: 0;
		}

		&-cardMemberType {
			font-family: 'GothamPro-Bold';
			font-size: 6.88px;
			color: $choose-course-clrPink;
			text-align: center;
			text-transform: uppercase;
			margin: 0;
		}
	}
}

.toggle-color {
	color:	#a453e2;
}
