@import "vars";

.club-chat {
	&__width {
		min-width: 857px;
	}
	&__block {

		display: flex;
		flex-wrap: wrap;
		margin-top: 20px;
		margin-bottom: 10px;
		&--padding {
			padding: 0;
		}
		&--margin {
			margin-top: 0 !important;
		}
		&--image {
			max-width: 253px;
		}
		&--paragraph {
			color: $course-headcard;
			font-family: "GothamPro";
			font-size: 17px;
			font-weight: 300;
			line-height: 22px;
			text-align: center;
			margin: 20px 0;
		}
		&--phone-link {
			max-width: 168px;
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.41);
			border-radius: 20px;
			background-color: #fdf7fb;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
		}
		&--main-link {
			display: flex;
			flex-direction: column;
			margin-top: 30px;
			padding: 0 35px;
		}
		&--right-link {
			display: flex;
			flex-direction: row;
			align-items: center;
			color: $course-headcard;
			font-family: "GothamPro";
			font-size: 14px;
			font-weight: 400;
			line-height: 22px;
			padding: 10px;
			&:hover {
				text-decoration: none;
				color: $course-headcard;
				opacity: 0.8;
			}
		}
		&--right-img {
			margin-right: 5px;
		}
		&--padding-on {
			padding: 0 30px 15px 30px;
			margin-bottom: 0;
		}
		&--round {
			img {
				max-width: 73px;
				border-radius: 50%;
			}
		}
		&--links {
			box-shadow: 0 2px 0 #ecdae8;
			border-radius: 4px;
			background-color: #fdf7fb;
			flex-grow: 1;
			max-width: 100px;
			flex-basis: 100px;
			margin: 0 7px 7px 0;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 15px;
			transition: background-color 0.5s ease;
			&:hover {
				.club-chat__block--name {
					color: $white;
				}
				box-shadow: 0 2px 0 #b51f60;
				border-radius: 4px;
				background-color: $color-girl-club;
				background-image: linear-gradient(-225deg, #ff9d85 0%, #f33085 100%);
			}
		}

		&--links-active {
			.club-chat__block--name {
				color: $white;
			}
			box-shadow: 0 2px 0 #b51f60;
			border-radius: 4px;
			background-color: $color-girl-club;
			background-image: linear-gradient(-225deg, #ff9d85 0%, #f33085 100%);
		}
		&--name {
			margin-bottom: 0;
			text-align: center;
			color: $roof-content;
			font-family: "GothamPro-Bold";
			font-size: 12px;
			font-weight: 500;
			line-height: 22px;
			margin-top: 10px;
		}
		&--link {
			&:hover {
				text-decoration: none;
				opacity: 0.8;
			}
			&:active {
				text-decoration: none;
				opacity: 0.8;
			}
			&:focus {
				text-decoration: none;
				opacity: 0.8;
			}
		}
		&--input {
			min-height: 51px;
			padding-top: 0;
			margin-top: 0;
			position: relative;
			padding-right: 85px;
		}
		&--send {
			position: relative;
			outline: none;
			float: right;
			margin-top: -7px;
			margin-right: -15px;
			z-index: 2;
		}
		&--smile {
			position: relative;
			outline: none;
			float: right;
			margin-top: -8px;
			z-index: 2;
		}
		&--messages {
			padding-bottom: 0;
			padding-top: 24px;
		}

		&--raiting {
			box-shadow: 0 1px 6px #ecdae8;
		}
	}
}
