@import "vars";

.review-body__club {
	display: flex;
	flex-direction: row;
	&--first {
		display: flex;
		flex-direction: row;

	}
	&--first-img {
		background: $review-content;
		padding-top: 30px;
		max-width: 300px;
		position: relative;
	}
	&--img {
		width: 347px;
	}
	&--first-content {
		background: $club-content;
		padding-top: 65px;
		min-width: 314px;
	}
	&--first-header {
		color: $club-header;
		font-family: "GothamPro";
		font-size: 26px;
		font-weight: 300;
		line-height: 16.7px;
	}
	&--first-paragraph {
		color: $club-paragraph;
		font-family: "GothamPro";
		font-style: italic;
		font-size: 13px;
		font-weight: 400;
		max-width: 192px;
		margin: 25px auto;
		text-align: left;
		line-height: 2.4;
		word-wrap: break-word;
	}
	&--first-paragraph-sec {
		color: $club-paragraph-sec;
		font-family: "GothamPro";
		font-size: 11px;
		font-weight: 400;
		line-height: 18px;
		max-width: 170px;
		margin: 45px auto;
		position: relative;
		text-align: left;
		word-wrap: break-word;
		&:before {
			content: url("../img/club/info-sign.png");
			position: absolute;
			left: -25px;
			top: -25px;
		}
	}

	&--second {
		padding-top: 55px;
		background: $white;
		width: 100%;
	}
	&--second-header {
		line-height: 39.7px;
		text-align: left;
		max-width: 410px;
		word-wrap: break-word;
		margin: 0 auto;
	}

	&--second-lists {
		text-align: left;
		max-width: 445px;
		word-wrap: break-word;
		margin: 65px auto;
		padding-left: 0;
	}

	&--second-list {
		margin-bottom: 40px;
		text-align: left;
		color: $club-header;
		font-family: "GothamPro";
		font-size: 16px;
		font-weight: 300;
		line-height: 1.5;
		list-style-position: inside;
		padding: 20px;
		&:hover {
			color: $club-green;
			padding: 19px;
			border: 1px dotted #5fb32f;
			border-radius: 4px;
			.review-body__club--second-paragraph {
				color: $club-green;
			}
		}
		&:focus {
			color: $club-green;
			.review-body__club--second-paragraph {
				color: $club-green;
			}
		}
	}

	&--second-label {
		font-family: "GothamPro";
		font-size: 12px;
		font-weight: 300;
		line-height: 22.41px;
		letter-spacing: 0.26px;
		color:$club-label;
	}
	&--second-form-inner {
		display: flex;
		flex-direction: row;
	}
	&--second-form {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-top: 10px;
	}

	&--main-inputs {
		margin-left: 0 !important;
	}

	&--main-input {
		height: 47px;
		border-radius: 3px;
		border: 1px solid rgba(164, 173, 159, 0.21);
		background-color: #ffffff;
	}

	&--second-drop-first {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		margin: 10px 0 0 0;
	}

	&--second-drop-second {
		display: flex;
		flex-direction: row;
		margin: 10px 0 0 0;
		justify-content: space-between;
		width: 100%;
	}

	&--second-drop-link-city {
		color: $drop-club;
		font-family: "GothamPro";
		font-size: 12px;
		font-weight: 300;
		line-height: 18.67px;
		height: 45px;
		border: 1px solid rgba(164, 173, 159, 0.21);
		background-color: $white;
		display: flex;
		align-items: center;
		width: 260px;
		background: url(../img/club/arrow.png) right no-repeat;
		background-position-x: 240px;
	}



	&--second-drop-link-age {
		color: $drop-club;
		font-family: "GothamPro";
		font-size: 12px;
		font-weight: 300;
		line-height: 18.67px;
		height: 45px;
		border: 1px solid rgba(164, 173, 159, 0.21);
		background-color: $white;
		display: flex;
		align-items: center;
		width: 94px;
		background: url(../img/club/arrow.png) right no-repeat;
		background-position-x: 74px;
	}

	&--second-drop-link-child {
		color: $drop-club;
		font-family: "GothamPro";
		font-size: 12px;
		font-weight: 300;
		line-height: 18.67px;
		height: 45px;
		border: 1px solid rgba(164, 173, 159, 0.21);
		background-color: $white;
		display: flex;
		align-items: center;
		width: 97px;
		background: url(../img/club/arrow.png) right no-repeat;
		background-position-x: 77px;
		margin-right: 10px;
	}

	&--second-drop-link-family {
		color: $drop-club;
		font-family: "GothamPro";
		font-size: 12px;
		font-weight: 300;
		line-height: 18.67px;
		height: 45px;
		border: 1px solid rgba(164, 173, 159, 0.21);
		background-color: $white;
		display: flex;
		align-items: center;
		width: 183px;
		background: url(../img/club/arrow.png) right no-repeat;
		background-position-x: 163px;
		margin-right: 10px;
	}

	&--green-btn {
		padding: 17px 15px;
		box-shadow: 0 2px 2px #489c22;
		border-radius: 3px;
		border: 0;
		font-family: "GothamPro";
		font-size: 11px;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 0.66px;
		&:hover {
			padding: 16px 15px;
			box-shadow: 0 2px 2px #489c22;
			background-color: #57c626;
			opacity: 0.8;
			cursor: pointer;
		}
	}
	&--second-paragraph {
		color: $club-list;
		font-family: "GothamPro";
		font-size: 15px;
		font-weight: 300;
		line-height: 22.41px;
		&:hover {
			text-decoration: none;
			opacity: 0.8;
			color: $club-green;
		}
		&:focus {
			text-decoration: none;
			opacity: 0.8;
			color: $club-green;
		}
		&:active {
			text-decoration: none;
			opacity: 0.8;
			color: $club-green;
		}
	}

	.list-green {
		color: $club-green;
		border-radius: 4px;
		position: relative;
	}

	&--second-green {
		font-family: "GothamPro";
		font-size: 15px;
		font-weight: 300;
		line-height: 22.41px;
		margin-left: 20px;
	}

}