@import 'vars';



.configurator-main {
	background: url('../img/configurator-main/gold-back.png') center no-repeat !important;
	background-size: cover !important;
	position: relative;
	&:before {
		content: url('../img/configurator-main/shtor-left.png');
		position: absolute;
		left: -30px;
		top: 0
	}
	&:before {
		content: url('../img/configurator-main/shtor-right.png');
		position: absolute;
		right: -30px;
		top: 0
	}
	&--span {
		color: #ef48a3;
	}
}