.header-bell {
  position: relative;
  &-number {
    position: absolute;
    top: -15px;
    right: -12px;
    font-family: GothamPro-Bold;
    font-size: 11px;
    line-height: 0;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 50%;
    background: #fb7fce;
    color: #fff;
    border: 2px solid white;
  }
}
.header-mail {
  //position: relative;
  &-number {
    position: absolute;
    top: -5px;
    right: -14px;
    font-family: GothamPro-Bold;
    font-size: 11px;
    line-height: 0;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 50%;
    background: #663cc4;
    color: #fff;
    border: 2px solid white;
  }
}
