@import "vars";


.homework_card {
	&--header {
		color: $card-content;
		font-family: "GothamPro";
		font-size: 20px;
		font-weight: 300;
		line-height: 29px;
	}
	&--buttons {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	&--buttons-sec {
		border-radius: 0 0 0 4px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		align-items: center;
		border-top: 1px solid $hw-border;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: $review-header;
		height: 78px;
		overflow: hidden;
	}
	&--inner-padding {
		padding: 0 35px;
		height: 390px;
		min-height: 390px;
		overflow: auto;
	}

	&--block {
		position: relative;
		padding: 0 0 80px 0;
		margin-top: 25px;
	}
	&--button {
		display: flex;
		flex-grow: 1;
		flex-basis: 30px;
		font-family: "GothamPro";
		font-size: 13px;
		font-weight: 400;
		line-height: 22px;
		max-width: 200px;
		margin-right: 10px;
	}
	&--button-sec {
		display: flex;
		flex-grow: 1;
		flex-basis: 30px;
		font-family: "GothamPro";
		font-size: 13px;
		font-weight: 400;
		line-height: 22px;
		background-color: $span-statistic;
		padding: 0 25px 0 15px;
		align-items: center;
		border: none;
		border-radius: 4px;
		&:hover {
			background: $span-statistic !important;
		}
	}

	&--button-card-one {
		color: $hw-buttons;
		font-family: "GothamPro";
		font-size: 12px;
		font-weight: 400;
		line-height: 22px;
		text-transform: uppercase;
		&:hover {
			color: $hw-buttons;
			opacity: 0.8;
			background: transparent;
			text-decoration: none;
		}
	}

	&--button-card-two {
		color: $hw-buttons;
		font-family: "GothamPro";
		font-size: 12px;
		font-weight: 400;
		line-height: 22px;
		text-transform: uppercase;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			border-left: 1px solid $hw-border;
			height: 79px;
			top: -29px;
			left: -27px;
		}
		&:hover {
			color: $hw-buttons;
			opacity: 0.8;
			background: transparent;
			text-decoration: none;
		}
	}
	&--chat {
		padding-left: 15px;
		border-radius: 0 0 4px 0;
	}
}