@import 'vars';

.sidebar-nav__homework {
	position: inherit !important;
	margin-top: 25px;
	min-width: 248px !important;
	min-height: 380px !important;
}

.main-content__header--back-line {
	background: url("../img/homework/line.png");
	width: 100%;
	display: block;
	height: 1px;
}

.homework_header {
	display: flex;
	flex-direction: column;
	width: 100%;
	h3 {
		width: 100%;
		text-align: left;
		margin-left: 60px;
		margin-top: 22px;
	}
}

.main-content__header--hw-content {
	color: $content-hwcolor;
	font-family: "GothamPro";
	font-size: 13px;
	font-weight: 400;
	line-height: 26px;
	text-align: left;
	width: 100%;
	margin-left: 60px;
}

.main-content__links {
	&--first {
		display: flex;
		flex-direction: row;
	}
	&--second {
		display: flex;
		flex-direction: row;
		margin-top: 15px;
	}
}

.block-first {
	background: url("../img/homework/back-img.png");
	background-size: cover;
	width: 214px;
	min-height: 272px;
	text-align: center;
	padding-top: 20px;
	margin-left: 20px;
	&:hover {
		color: $white;
		opacity: 0.8;
		text-decoration: none;
	}
	&__content {
		color: $white;
		font-family: "GothamPro";
		font-size: 14px;
		font-weight: 400;
		line-height: 22px;
		text-decoration: underline;
		max-width: 140px;
		margin: 0 auto;
	}
	&__link {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-top: 137px;
		color: $white;
		font-family: "GothamPro";
		font-size: 14px;
		font-weight: 400;
		line-height: 22px;
		text-decoration: underline;
		&--video {
			margin-right: 5px;
			font-size: 14px;
			text-decoration: none;
		}
	}
}

.block-second {
	background: url("../img/homework/back-img-sec.png");
	background-size: cover;
	width: 214px;
	min-height: 272px;
	text-align: center;
	padding-top: 50px;
	margin-left: 20px;
	&__img {
		position: relative;
		&:after {
			content: url("../img/homework/round-flower.png");
			position: absolute;
			top: -16px;
			left: 41px;
		}
	}
	&:hover {
		color: $white;
		opacity: 0.8;
		text-decoration: none;
	}
	&__link {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-top: 28px;
		color: $hw-color;
		font-family: "GothamPro";
		font-size: 14px;
		font-weight: 400;
		line-height: 22px;
		text-decoration: underline;
		&--add {
			margin-right: 10px;
		}
	}
}

.block-third {
	background: url("../img/homework/back-img-third.png");
	background-size: cover;
	width: 214px;
	min-height: 272px;
	text-align: center;
	padding-top: 50px;
	margin-left: 20px;
	&:hover {
		color: $hw-color;
		text-decoration: none;
		opacity: 0.8;
	}
	&__link {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-top: 40px;
		color: $hw-color;
		font-family: "GothamPro";
		font-size: 14px;
		font-weight: 400;
		line-height: 22px;
	}
}

.block-fourth {
	background: url("../img/homework/back-img-fourth.png");
	background-size: cover;
	width: 214px;
	min-height: 272px;
	text-align: center;
	padding-top: 50px;
	margin-left: 20px;
	&:hover {
		color: $white;
		text-decoration: none;
		opacity: 0.8;
	}
	&__link {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-top: 48px;
		color: $white;
		font-family: "GothamPro";
		font-size: 14px;
		font-weight: 400;
		line-height: 22px;
	}
}

.img-margin {
	margin-top: 30px;
	position: relative;
	&:after {
		top: -34px;
		left: 38px;
	}
}

.add-content {
	margin: 53px auto 0;
	width: 175px;
	position: relative;
	&:before {
		content: url("../img/homework/ right-arrow.png");
		position: absolute;
		left: 10px;
	}
}

.add-content-sec {
	margin: 66px auto 0 25px;
	width: 165px;
	position: relative;
	text-align: left;
	&:before {
		content: url("../img/homework/ right-arrow.png");
		position: absolute;
		left: -15px;
	}
}

.nav-item__hw-mail {
	font-size: 20px;
	margin-top: 5px;
}

.color-rose {
	color: $purpur-col;
}

.nav-item__hw-bell {
	margin-top: 12px;
}