@import "vars";


.april-action {
	background: url("../img/landing-april/april-back.jpg") center no-repeat;
	background-size: cover;
	min-height: 3800px;
	overflow-x: hidden;
}

.april-action__first {
	min-height: 800px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	&--date {
		display: flex;
		flex-direction: row;
		color: $april-date;
		font-family: 'RistrettoPro-Regular';
		font-size: 55px;
		font-weight: 900;
		font-style: italic;
		line-height: 29.17px;
		margin-bottom: 0;
		letter-spacing: 3.96px;
		margin-top: 150px;
	}
	&--dashed {
		background: url("../img/landing-april/back-rectangle.png") -8px -7px no-repeat;
		background-size: cover;
		padding: 10px 34px;
		font-family: 'MuseoSansCyrl-500';
		font-size: 15px;
		font-weight: 400;
		font-style: italic;
		line-height: 20px;
		text-transform: uppercase;
		letter-spacing: 4.38px;
		color: $white;
		margin-top: 20px;
		max-width: 315px;
	}
	&--span  {
		margin-top: 7px;
		margin-left: 10px;
		font-size: 32px;
		font-weight: 400;
		font-family: 'RistrettoPro-Regular';
	}
	&--days-up-content {
		color: $white;
		font-family: 'MuseoSansCyrl-500';
		max-width: 190px;
		word-wrap: break-word;
		font-size: 15px;
		font-weight: 400;
		font-style: italic;
		line-height: 20px;
		text-transform: uppercase;
		letter-spacing: 4.38px;
		margin-top: 170px;
	}


	&--lections {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 60px;
	}

	&--lections-before {
		position: relative;
		&:before {
			content: url("../img/landing-april/line-route.png");
			position: absolute;
			left: -50px;
			top: 25px;
		}
	}

	&--part-content {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	&--days-header {
		color: $white;
		font-family: 'AABebasNeue';
		font-size: 101px;
		letter-spacing: 3.45px;
		line-height: 99px;
		font-style: italic;
		text-transform: uppercase;
		word-wrap: break-word;
		max-width: 400px;
	}

	&--days-span {
		font-style: normal;
		color: $landing-april;
		font-family: 'MuseoSansCyrl-100';
		font-weight: 400;
		font-size: 22px;
		font-weight: 400;
		line-height: 1;
		margin-top: -10px;
		word-wrap: break-word;
	}
	&--days-button {
		box-shadow: 0 0 16px rgba(145, 255, 228, 0.2);
		background-color: $landing-btn;
		background-image: linear-gradient(-118deg, #53ecaa 0%, #29e0e2 100%);
		border: none;
		border-radius: 0;
		text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.09);
		color: $white;
		font-family: 'AABebasNeue';
		font-size: 18px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 3.68px;
		padding-top: 20px;
		padding-bottom: 20px;
		line-height: 0;
		cursor: pointer;
		margin-top: 0;
		&:hover {
			opacity: 0.8;
		}
	}

	&--part-add-block {
		margin-top: 20px;
		margin-left: 33px;
	}

	&--days-down-content {
		border: 1px dashed $white;
		display: flex;
		flex-direction: row;
		align-items: center;
		position: relative;
		margin-top: 55px;
		padding: 0 10px;
		position: relative;
		z-index: 1;
		&:before {
			content: '';
			position: absolute;
			top: 35px;
			left: -8px;
			border-top: 1px dashed #fff;
			border-right: 1px dashed #fff;
			width: 15px;
			height: 15px;
			transform: rotate(225deg);
			background: #e9404c;
			z-index: 2;
		}
	}
	&--days-down-content-one {
		margin: 0;
		color: $white;
		font-family: 'AABebasNeue';
		font-size: 48px;
		font-weight: 400;
		max-width: 160px;
		width: 160px;
		word-wrap: break-word;
	}
	&--days-down-content-one-span {
		font-size: 18px;
	}
	&--days-down-content-one-span-sec {
		font-family: '291CGmKB';
		font-size: 24px;
		font-weight: 500;
	}
	&--days-down-content-sec {
		margin: 0;
		color: #f6b2b7;
		font-family: 'RistrettoPro-Regular';
		font-size: 31px;
		font-weight: 400;
		letter-spacing: 0.86px;
		position: relative;
		max-width: 65px;
		width: 65px;
		word-wrap: break-word;
		&:after {
			content: url("../img/landing-april/line-route.png");
			position: absolute;
			left: 5px;
			top: 3px;
		}
	}
	&--days-down-content-third {
		margin: 0;
		color: $white;
		font-family: 'MuseoSansCyrl-300';
		font-size: 12px;
		font-weight: 400;
		max-width: 120px;
		word-wrap: break-word;
	}
}

.april-action__learn {
	background: url("../img/landing-april/heart-back.png") center no-repeat;
	min-height: 290px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
	&--img {
		margin-top: 65px;
	}

	&--first-header {
		color: $white;
		font-family: 'AABebasNeue';
		font-size: 35px;
		font-weight: 400;
		font-style: italic;
		line-height: 40px;
		letter-spacing: 2.98px;
		margin-top: 30px;
	}

	&--span {
		color: $april-learn-header;
	}

	&--second-header {
		color: $white;
		font-family: 'AABebasNeue';
		font-size: 35px;
		font-weight: 400;
		font-style: italic;
		line-height: 40px;
		letter-spacing: 2.98px;
	}
}

.april-action__second {
	display: flex;
	flex-direction: row;
	margin-top: 120px;
	min-height: 300px;
	&--intensive-first {
		display: flex;
		flex-direction: row;
	}
	&--intensive-first-header {
		color: $white;
		font-family: 'RistrettoPro-Regular';
		font-size: 62px;
		font-weight: 400;
		line-height: 58px;
		text-transform: uppercase;
		letter-spacing: 1.24px;
	}
	&--intensive-first-img {
		width: 41px;
		height: 41px;
		margin-top: 35px;
	}
	&--intensive-second-paragraph {
		color: $white;
		font-family: 'MuseoSansCyrl-300';
		font-size: 14px;
		font-weight: 400;
		line-height: 26px;
		word-wrap: break-word;
		margin-bottom: 30px;
	}

	&--list-intensive {
		display: flex;
		flex-direction: column;
		list-style: none;
	}

	&--list-one {
		position: relative;
		&:before {
			content: url("../img/landing-april/key-image.png");
			position: absolute;
			left: -50px;
			top: 7px;
		}
	}
	&--list-two {
		position: relative;
		&:before {
			content: url("../img/landing-april/heart-list.png");
			position: absolute;
			left: -50px;
			top: 7px;
		}
	}

	&--list-three {
		position: relative;
		&:before {
			content: url("../img/landing-april/present-list.png");
			position: absolute;
			left: -50px;
			top: 7px;
		}
	}

	&--list-four {
		position: relative;
		&:before {
			content: url("../img/landing-april/deny-list.png");
			position: absolute;
			left: -50px;
			top: 7px;
		}
	}

	&--list-five {
		position: relative;
		&:before {
			content: url("../img/landing-april/mixer-list.png");
			position: absolute;
			left: -50px;
			top: 7px;
		}
	}

	&--list-six {
		position: relative;
		&:before {
			content: url("../img/landing-april/hands-in-list.png");
			position: absolute;
			left: -50px;
			top: 7px;
		}
	}


	&--list-seven {
		position: relative;
		&:before {
			content: url("../img/landing-april/question-list.png");
			position: absolute;
			left: -50px;
			top: 7px;
		}
	}

	&--list-eight {
		position: relative;
		&:before {
			content: url("../img/landing-april/love-list.png");
			position: absolute;
			left: -50px;
			top: 7px;
		}
	}
}

.april-action__tomatoes {
	background: url("../img/landing-april/back-tomatos.png") center no-repeat;
	min-height: 240px;
	background-size: 100% 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 100px 0;
	&--header {
		color: $april-header-tomatoes;
		font-family: 'AABebasNeue';
		font-size: 35px;
		font-weight: 400;
		font-style: italic;
		line-height: 40px;
		letter-spacing: 2.98px;
		text-align: center;
		max-width: 710px;
	}
}

.april-action__third {
	display: flex;
	align-items: center;
	flex-direction: column;
	&--lections {
		display: flex;
		flex-direction: row;
	}
	&--rombs {
		display: none;
		margin: 60px 0;
	}

	&--lection-lists {
		list-style: none;
		li {
			counter-increment: step-counter;
			&:before {
				content: counter(step-counter);
				color: #f7f1f1;
				font-family: 'AABebasNeue';
				font-size: 52px;
				font-weight: 400;
				line-height: 60px;
				position: absolute;
				left: 20px;
			}
		}
	}

	&--lection-border {
		position: relative;
		&:before {
			content: url("../img/landing-april/line-rectangle.png");
			position: absolute;
			left: -15px;
			top: -27px;
		}
		&:after {
			content: url("../img/landing-april/triangle.png");
			position: absolute;
			left: -11px;
			top: -27px;
		}
	}

	&--lection-content {
		margin-top: 50px;
	}

	&--rombs-one,  &--rombs-three {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		max-width: 270px;
		margin: 0 auto;
	}

	&--rombs-two {
		display: flex;
		justify-content: center;
	}

	&--rombs-img {
		margin-top: 10px;
	}

	&--rombs-content {
		position: relative;
		margin-bottom: -12px;
		&:before {
			position: absolute;
			content: url('../img/landing-april/small-rombs/1.png');
			left: -31.5%;
			right: 50%;
			-webkit-transform: translate(-50%,-50%);
			top: 39px;
			z-index: 1;
		}
	}

	&--rombs-content--sec {
		position: relative;
		margin-bottom: -12px;
		&:before {
			position: absolute;
			content: url('../img/landing-april/small-rombs/7.png');
			left: -30%;
			right: 50%;
			transform: translate(-50%,-50%);
			top: 40px;
			z-index: 1;
		}
	}

	&--rombs-content--sec-middle {
		position: relative;
		margin-bottom: 5px;
		margin-top: 0px;
		&:before {
			position: absolute;
			content: url('../img/landing-april/small-rombs/7.png');
			left: 50%;
			top: 57%;
			transform: translate(-50%,-50%);
			z-index: 1;
		}
	}

	&--rombs-content--third {
		position: relative;
		margin-bottom: -12px;
		&:before {
			position: absolute;
			content: url('../img/landing-april/small-rombs/10.png');
			left: -30%;
			right: 50%;
			transform: translate(-50%,-50%);
			top: 40px;
			z-index: 1;
		}
	}

	&--rombs-content--third-middle {
		position: relative;
		margin-bottom: 5px;
		margin-top: 0px;
		&:before {
			position: absolute;
			content: url('../img/landing-april/small-rombs/10.png');
			left: 50%;
			top: 57%;
			transform: translate(-50%,-50%);
			z-index: 1;
		}
	}

	&--rombs-content-middle {
		position: relative;
		margin-bottom: -2px;
		margin-top: 2px;
		&:before {
			position: absolute;
			content: url('../img/landing-april/small-rombs/1.png');
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
			z-index: 1;
		}
	}

	&--rombs-link {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-family: 'RistrettoPro-Regular';
		font-size: 26px;
		max-width: 100px;
		width: 100px;
		word-wrap: break-word;
		color: $white;
		position: relative;
		z-index: 2;
		line-height: 1.2;
		&:active {
			text-decoration: none;
			color: $white;
		}
		&:focus {
			text-decoration: none;
			color: $white;
		}
	}
}

.footer__action {
	background: $black;
	&--elements {
		display: flex;
		justify-content: space-between;
	}
	&--color {
		color: #e8e8e8;
	}
	&--color-dark {
		color: #5b5b5b;
	}
}

.april-action__third {
	&--width {
		max-width: 250px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		word-wrap: break-word;
	}

	&--lection-first {
		position: relative;
		&:before {
			content: '1';
			position: absolute;
			color: #f7f1f1;
			font-family: 'MuseoSansCyrl-500';
			font-size: 116px;
			font-weight: 400;
			left: 10px;
			top: -66px;
			opacity: 0.4;
		}
	}

	&--lection-second {
		position: relative;
		&:before {
			content: '2';
			position: absolute;
			color: #f7f1f1;
			font-family: 'MuseoSansCyrl-500';
			font-size: 116px;
			font-weight: 400;
			left: 10px;
			top: -66px;
			opacity: 0.4;
		}
	}

	&--lection-third {
		position: relative;
		&:before {
			content: '3';
			position: absolute;
			color: #f7f1f1;
			font-family: 'MuseoSansCyrl-500';
			font-size: 116px;
			font-weight: 400;
			left: 10px;
			top: -66px;
			opacity: 0.4;
		}
	}

	&--lections {
		margin-top: 70px;
	}

	&--star {
		position: relative;
		margin-top: 50px;
		&:before {
			position: absolute;
			content: url("../img/landing-april/star-line.png");
			top: -25px;
		}
	}

	&--star-lists {
		display: flex;
		flex-direction: column;
		list-style: none;
	}

	&--star-list {
		position: relative;
		&:before {
			content: url("../img/landing-april/star-list.png");
			position: absolute;
			left: -33px;
		}
	}

	&--star-content {
		color: $white;
		font-family: 'RistrettoPro-Regular';
		font-size: 27px;
		font-weight: 400;
		line-height: 34px;
		margin-left: 10px;
	}

	&--header-sec {
		color: $april-content;
		font-family: 'AABebasNeue';
		font-size: 14px;
		font-weight: 400;
		margin-left: 10px;
		line-height: 12.2px;
		letter-spacing: 5.6px;
	}

	&--content {
		color: $april-content;
		font-family: 'AABebasNeue';
		margin-left: 10px;
		font-size: 26px;
		font-weight: 400;
		line-height: 28px;
		margin-top: 15px;
		max-width: 300px;
		word-wrap: break-word;
	}
}

.april-action__fifth {
	margin-top: 60px;
	&--intensive {
		display: flex;
		flex-direction: row;
		margin-top: 80px;
		position: relative;
		&:after {
			content: url("../img/landing-april/line-horizontal.png");
			position: absolute;
			top: 215px;
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right: 0;
		}
	}

	&--correct {
		margin-top: 11px;
		&:before {
			display: none;
		}
	}

	&--back {
		background: transparent;
		min-height: 380px;
	}

	&--intensive-sec {
		display: flex;
		flex-direction: row;
		margin-top: 80px;
	}

	&--width {
		max-width: 350px;
		margin-left: auto;
		margin-right: auto;
	}

	&--intensive-header {
		max-width: 316px;
		word-wrap: break-word;
		color: $april-content-sec;
		font-family: 'MuseoSansCyrl-300';
		font-weight: 400;
		font-size: 34px;
		line-height: 40px;
	}

	&--intensive-content {
		color: $april-content-sec;
		max-width: 316px;
		word-wrap: break-word;
		font-family: 'MuseoSansCyrl-300';
		font-size: 15px;
		font-weight: 400;
		line-height: 26px;
	}

	&--intensive-link {
		color: $white;
		font-family: 'AABebasNeue';
		font-size: 13px;
		font-weight: 400;
		text-decoration: underline;
		text-transform: uppercase;
		letter-spacing: 2.34px;
		&:hover {
			color: $white;
			text-decoration: underline;
			opacity: 0.8;
		}
	}

	&--intensive-img {
		margin-right: 15px;
	}

	&--intensive-border-one {
		position: relative;
		&:after {
			content: url("../img/landing-april/line-horizontal-sec.png");
			position: absolute;
			top: -30px;
			left: 310px;
			right: 0;
			transform: rotate(90deg);
		}
	}

	&--intensive-border-two {
		position: relative;
		&:after {
			content: url("../img/landing-april/line-horizontal-sec.png");
			position: absolute;
			top: -190px;
			left: 310px;
			right: 0;
			transform: rotate(90deg);
		}
	}
}

.april-action__sixth {
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	min-height: 685px;
	&--tariff-first-paragraph {
		color: #f6ebed;
		font-family: 'MuseoSansCyrl-300';
		font-size: 16px;
		font-weight: 400;
		line-height: 28px;
		position: relative;
	}
	&--tariff-first-img {
		position: absolute;
		top: 120px;
		right: 45px;
	}
	&--tariff-second-block {
		padding-top: 40px;
		padding-bottom: 40px;
		width: 331px;
		min-height: 479px;
		text-align: center;
		background-color: #f0ebf6;
		background-image: linear-gradient(to bottom, rgba(233, 160, 177, 0.03) 0%, rgba(255, 255, 255, 0.03) 100%);
	}
	&--tariff-second-header {
		color: $april-header-small;
		font-family: 'MuseoSansCyrl-700';
		font-size: 14px;
		font-weight: 400;
		line-height: 14.35px;
		text-transform: uppercase;
		letter-spacing: 3.04px;
	}

	&--tariff-second-price {
		color: $april-price;
		font-family: 'RistrettoPro-Regular';
		font-size: 80px;
		font-weight: 400;
		line-height: 83.53px;
		vertical-align: baseline;
		position: relative;
		&:before {
			content: '-';
			position: absolute;
			font-size: 80px;
			color: $april-price;
			left: 60px;
		}
		&:after {
			content: '-';
			position: absolute;
			font-size: 80px;
			color: $april-price;
			right: 60px;
		}
	}

	&--tariff-second-lists {
		list-style: none;
		padding-left: 70px;
		max-width: 260px;
	}

	&--tariff-second-list {
		color: $april-list;
		font-family: 'RistrettoPro-Regular';
		font-size: 20px;
		font-weight: 400;
		line-height: 22px;
		text-align: left;
		margin-top: 5px;
		position: relative;
		&:before {
			content: url("../img/landing-april/ul-first.png");;
			position: absolute;
			width: 16px;
			height: 16px;
			left: -30px;
		}
	}

	&--tariff-button-one {
		background-color: #f8627a;
		background-image: linear-gradient(-267deg, rgba(255, 72, 103, 0.27) 0%, rgba(255, 72, 103, 0) 100%);
	}

	&--tariff-third-block {
		padding-top: 40px;
		padding-bottom: 40px;
		width: 331px;
		min-height: 479px;
		background-color: #291918;
		text-align: center;
		position: relative;
		background-image: linear-gradient(to bottom, rgba(176, 98, 206, 0.02) 0%, rgba(255, 255, 255, 0.02) 100%);
	}

	&--tariff-third-header{
		color: #50348e;
	}

	&--tariff-third-price {
		color: #9e69cd;
		font-family: 'RistrettoPro-Regular';
		font-size: 80px;
		font-weight: 400;
		line-height: 83.53px;
		vertical-align: baseline;
		position: relative;
		&:before {
			content: '-';
			position: absolute;
			font-size: 80px;
			color: #9e69cd;
			left: 60px;
		}
		&:after {
			content: '-';
			position: absolute;
			font-size: 80px;
			color: #9e69cd;
			right: 60px;
		}
	}


	&--tariff-third-lists {
		list-style: none;
		padding-left: 70px;
		max-width: 260px;
	}

	&--tariff-third-list {
		color: $april-list-sec;
		font-family: 'RistrettoPro-Regular';
		font-size: 20px;
		font-weight: 400;
		line-height: 22px;
		text-align: left;
		margin-top: 5px;
		position: relative;
		&:before {
			content: url("../img/landing-april/ul-second.png");;
			position: absolute;
			width: 16px;
			height: 16px;
			left: -30px;
		}
	}

	&--tariff-button-sec {
		background-color: #af63ce;
		background-image: linear-gradient(-267deg, rgba(255, 72, 103, 0.27) 0%, rgba(255, 72, 103, 0) 100%);
	}

	&--tariff-third-down-content {
		position: absolute;
		bottom: -65px;
		color: $white;
		background: $black;
		width: 100%;
		word-wrap: break-word;
		font-family: 'RistrettoPro-Regular';
		font-size: 18px;
		font-weight: 400;
		letter-spacing: 0.31px;
		padding: 15px 0px;
	}
}


.april-action__fourth {
	display: flex;
	flex-direction: row;
	min-height: 630px;
	margin-top: 110px;
	&--links-one-first-rombs {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&--links-one {
		display: flex;
		flex-direction: column;
	}

	&--link {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-family: 'RistrettoPro-Regular';
		font-size: 30px;
		color: $white;
		position: relative;
		z-index: 2;
		line-height: 1.2;
		text-align: center;
		&:hover {
			text-decoration: none;
			opacity: 0.8;
			color: $white;
		}
		&:active {
			text-decoration: none;
			opacity: 0.8;
			color: $white;
		}
		&:focus {
			text-decoration: none;
			opacity: 0.8;
			color: $white;
		}
	}

	&--img {
		max-width: 30px;
		margin-top: 35px;
	}

	&--links-one-first-romb {
		position: relative;
		&:before {
			content: url("../img/landing-april/1.png");
			position: absolute;
			z-index: 1;
			left: -89px;
			top: -125px;
		}


	}

	&--links-one-second-romb {
		position: relative;
		&:before {
			content: url("../img/landing-april/2.png");
			position: absolute;
			z-index: 1;
			left: -114px;
			top: -125px;
		}
	}

	&--links-one-third-romb  {
		display: flex;
		justify-content: center;
		position: relative;
		margin-top: 0px;
		margin-left: 28px;
		&:before {
			content: url("../img/landing-april/3.png");
			position: absolute;
			z-index: 1;
			left: 2px;
			top: -105px;
		}
	}

	&--links-one-third-rombs {
		margin-top: -40px;
		display: flex;
		justify-content: flex-start;
	}
	&--links-one-fourth-romb {
		margin-top: 21px;
		position: relative;
		margin-left: 44px;
		&:before {
			content: url("../img/landing-april/4.png");
			position: absolute;
			z-index: 1;
			left: -134px;
			top: -105px;
		}
	}

	&--links-one-fifth-romb {
		margin-top: 20px;
		position: relative;
		margin-left: 30px;
		&:before {
			content: url("../img/landing-april/5.png");
			position: absolute;
			z-index: 1;
			left: 0;
			top: -108px;
		}
	}

	&--links-two-first-rombs {
		display: flex;
		justify-content: flex-end;
	}

	&--links-two-first-romb {
		position: relative;
		&:before {
			content: url("../img/landing-april/6.png");
			position: absolute;
			z-index: 1;
			left: -88px;
			top: -108px;
		}
	}

	&--links-two-second-rombs {
		display: flex;
		justify-content: center;
	}

	&--links-two-second-romb {
		position: relative;
		margin-left: -28px;
		&:before {
			content: url("../img/landing-april/7.png");
			position: absolute;
			z-index: 1;
			left: -105px;
			top: -88px;
		}
	}

	&--links-two-third-rombs {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&--links-two-third-romb {
		position: relative;
		margin-left: -9px;
		margin-top: 10px;
		&:before {
			content: url("../img/landing-april/8.png");
			position: absolute;
			z-index: 1;
			left: -100px;
			top: -81px;
		}
	}

	&--links-two-fourth-romb {
		position: relative;
		margin-top: 15px;
		margin-right: 23px;
		&:before {
			content: url("../img/landing-april/9.png");
			position: absolute;
			z-index: 1;
			left: -107px;
			top: -91px;
		}
	}

	&--links-two-fifth-romb {
		position: relative;
		margin-top: -12px;
		margin-right: 29px;
		&:before {
			content: url("../img/landing-april/10.png");
			position: absolute;
			z-index: 1;
			left: 9px;
			top: -91px;
		}
	}


	&--links-two {
		position: relative;
		&:before {
			content: url('../img/landing-april/romb-line-left.png');
			position: absolute;
			left: -87px;
			bottom: 193px;
		}
		&:after {
			content: url('../img/landing-april/romb-line-left.png');
			position: absolute;
			right: -125px;
			top: 0;
			transform: rotate(90deg);
		}
	}


	&--links-three-first-romb {
		position: relative;
		margin-left: 60px;
		&:before {
			content: url("../img/landing-april/11.png");
			position: absolute;
			z-index: 1;
			left: -9px;
			top: -124px;
		}
	}

	&--links-three-second-rombs {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&--links-three-second-romb {
		margin-left: 23px;
		margin-top: 7px;
		position: relative;
		&:before {
			content: url("../img/landing-april/12.png");
			position: absolute;
			z-index: 1;
			left: -90px;
			top: -114px;
		}
	}

	&--links-three-third-romb {
		margin-right: -13px;
		margin-top: 7px;
		position: relative;
		&:before {
			content: url("../img/landing-april/13.png");
			position: absolute;
			z-index: 1;
			left: -107px;
			top: -114px;
		}
	}

	&--links-three-fourth-romb {
		margin-right: -67px;
		margin-top: 7px;
		position: relative;
		&:before {
			content: url("../img/landing-april/14.png");
			position: absolute;
			z-index: 1;
			left: 50px;
			top: -106px;
		}
	}

	&--links-three-fourth-rombs {
		display: flex;
		justify-content: flex-start;
	}


	&--links-three-fifth-romb {
		position: relative;
		margin-left: 65px;
		margin-top: -23px;
		&:before {
			content: url("../img/landing-april/15.png");
			position: absolute;
			z-index: 1;
			left: -132px;
			top: -102px;
		}
	}

}

.april-action__last {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 200px;
}

.april-action__modal {
	background: transparent;
	&--content {
		background-color: #33000c;
		border: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		color: $white;
		margin-left: auto;
		margin-right: auto;
		margin-top: 150px;
		background-size: 530px;
		min-height: 300px;
	}

	&--dialog {
		max-width: 300px;
	}

	&--title {
		color: #ffffff;
		font-family: 'RistrettoPro-Regular';
		font-size: 30px;
		font-weight: 400;
		line-height: 40.65px;
		letter-spacing: 0.34px;
	}
	&--header {
		width: 130px;
		word-wrap: break-word;
		border-bottom: none;
		text-align: center;
		position: relative;
	}

	&--close {
		position: absolute;
		color: $white;
		right: -75px;
	 	opacity: 1;
		top: 5px;
		&:active {
			color: $white;
			opacity: 1;
			outline: none;
		}
		&:hover {
			color: $white;
			opacity: 1;
			outline: none;
		}
	}
	&--lists {
		max-width: 192px;
		padding-left: 0;
	}

	&--list {
		font-family: 'MuseoSansCyrl-300';
		font-size: 14px;
		font-weight: 400;
		line-height: 28px;
		letter-spacing: 0.15px;
		list-style-image: url("../img/landing-april/modal-list-icon.png");
	}
}

