@import "vars";

.margin-landing {
	margin-left: 10px;
}

.first-landing {
	background: url("../img/landing-spring/sixth-spring.jpg") center no-repeat;
	background-size: cover;
	min-height: 532px;
	&__paragraph {
		color: $landing-black;
		font-family: "GothamPro";
		font-size: 24px;
		line-height: 40px;
		padding-top: 80px;
	}
	&__paragraph-sec {
		font-family: 'GothamPro-Medium';
		color: $purpur-col;
		font-size: 28px;
		font-weight: 500;
		line-height: 68px;
	}
	&__header {
		font-family: 'GothamPro-Bold';
		font-size: 62px;
		color: $landing-purpur;
		font-weight: 900;
		line-height: 72px;
		text-transform: uppercase;
		position: relative;
		max-width: 640px;
		&:after {
			position: absolute;
			content: url('../img/landing-spring/spring-bird.png');
			top: 22px;
			right: -2px;
		}
	}
	&__list-block {
		&--lists {
			display: flex;
			flex-direction: row;
			margin-left: 0;
			padding-left: 0;
		}
		&--list {
			display: inline-flex;
		}
		&--paragraph {
			font-family: "GothamPro";
			width: 97px;
			margin-left: 15px;
			margin-right: 50px;
			font-size: 16px;
			font-weight: 500;
		}
		&--img {
			max-height: 40px;
		}
	}
	&__pay-block {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		max-width: 780px;
		&--image {
			text-align: center;
			max-width: 165px;
		}
		&--price-up {
			.april-action__first--days-down-content {
				border: 1px dashed #26bb49;
				margin-left: 10px;
				padding: 20px;
				margin-top: 65px;
				&:before {
					display: none;
				}
			}

			.april-action__first--days-down-content-sec {
				color: #26bb49;
			}

			.april-action__first--days-down-content-one {
				color: #26bb49;
				position:relative;
				&:after {
					content:"";
					display:block;
					position:absolute;
					left:-5px;top:20%;
					color:#fa5087;
					width:60%;
					height:0;
					border-bottom:2px solid #fa5087;
					transform:rotate(-19deg);
				}
			}

			.april-action__first--days-down-content-third {
				color: #26bb49;
				max-width: 215px;
			}

		}
		&--header {
			color: #26bb49;
			font-family: 'GothamPro-Bold';
			font-size: 14px;
			font-weight: 400;
			line-height: 15.8px;
			text-transform: uppercase;
			letter-spacing: 0.44px;
			position: relative;
			&:before {
				position: absolute;
				content: url('../img/landing-spring/leave-left.png');
				left: -37px;
				top: -100px;
			}
			&:after {
				position: absolute;
				content: url('../img/landing-spring/leave-right.png');
				left: 170px;
				top: -100px;
			}
		}
		&--button {
			color: $white;
			font-family: 'GothamPro-Bold';
			font-size: 15px;
			font-weight: 400;
			line-height: 22px;
			text-transform: uppercase;
			letter-spacing: 0.9px;
			display: flex;
			flex-direction: row;
			align-items: center;
		}
		&--button-link {
			color: $white;
			border-radius: 4px;
			padding: 25px;
			background-color: $button-green;
			background-image: linear-gradient(to top, rgba(0, 0, 1, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%);
			&:hover {
				color: $white;
				opacity: 0.8;
				text-decoration: none;
			}
		}
	}
	&__mouse {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 300px;
		&--paragraph {
			color: $landing-black;
			font-family: "GothamPro";
			font-size: 12px;
			font-weight: 400;
			line-height: 22px;
			margin-top: 10px;
		}
	}
}

.line {
	margin-top: 20px;
	width: 140px;
	height: 2px;
	background-color: $purpur-col;
}

.second-landing {
	background: url('../img/landing-spring/fifth-spring.jpg') center no-repeat;
	width: 100%;
	background-size: cover;
	min-height: 1652px;
	padding-top: 50px;
	padding-bottom: 50px;
	&__headers {
		text-align: center;
		.line {
			margin: 25px auto;
		}
		&--header {
			color: $header-landing-col;
			font-family: 'GothamPro-Bold';
			font-size: 30px;
			font-weight: 400;
			line-height: 39px;
			text-transform: uppercase;
			max-width: 800px;
			margin: 0 auto;
		}
	}
	&__cards--lists {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		margin-top: 60px;
		position: relative;
	}
	.flip-container-fourth {
		perspective: 1000;
	}
	.flip-container-fourth:hover .flipper, .flip-container-fourth.hover .flipper {
		transform: rotateY(180deg);
	}
	.flip-container-fourth, .front-fourth, .back-fourth, .front-fifth, .back-fifth {
		background: url('../img/landing-spring/back-spring.png') no-repeat;
		cursor: pointer;
		background-size: cover;
		list-style: none;
		padding: 20px 10px 10px 10px;
		margin: 10px 5px;
		z-index: 10;
	}
	.front-fourth, .back-fourth {
		backface-visibility: hidden;
		position: absolute;
	}
	.front-fourth {
		z-index: 2;
		top: -39px;
		left: -132px;
		min-width: 254px;
		min-height: 358px;
	}
	.back-fourth {
		transform: rotateY(180deg);
		top: -39px;
		left: -132px;
		min-width: 254px;
		min-height: 358px;
	}
	.front-fifth, .back-fifth {
		backface-visibility: hidden;
		position: absolute;
	}
	.front-fifth {
		z-index: 2;
		top: -39px;
		left: -132px;
		min-width: 254px;
		min-height: 358px;
	}
	.back-fifth {
		transform: rotateY(180deg);
		top: -39px;
		left: -132px;
		min-width: 254px;
		min-height: 358px;
	}
	&__cards--lists-first {
		cursor: pointer;
		list-style: none;
		display: flex;
		flex-direction: column;
		flex-basis: 254px;
		align-items: center;
		margin: 10px 5px;
		min-height: 358px;
		img {
			max-height: 198px;
		}
	}

	.flip-container-fifth {
		perspective: 1000;
	}
	.flip-container-fifth:hover .flipper, .flip-container-fifth.hover .flipper {
		transform: rotateY(180deg);
	}
	.flip-container-fifth, .front-sixth, .back-sixth {
		background: url('../img/landing-first/card-sec.png') no-repeat;
		cursor: pointer;
		background-size: cover;
		list-style: none;
		padding: 20px 10px 10px 10px;
		margin: 10px 5px;
		z-index: 10;
	}
	.front-sixth, .back-sixth {
		backface-visibility: hidden;
		position: absolute;
	}
	.front-sixth {
		z-index: 2;
		top: -59px;
		left: -132px;
		min-width: 254px;
		min-height: 358px;
	}
	.back-sixth {
		transform: rotateY(180deg);
		top: -59px;
		left: -132px;
		min-width: 254px;
		min-height: 358px;
	}
	&__cards--lists-sec {
		cursor: pointer;
		list-style: none;
		background-size: cover;
		padding: 20px 10px 10px 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-basis: 254px;
		margin: 10px 5px;
		min-height: 350px;
		img {
			max-height: 190px;
		}
	}
	.flip-container {
		perspective: 1000;
	}
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}
	.flip-container-third {
		perspective: 1000;
	}
	.flip-container-third:hover .flipper, .flip-container-third.hover .flipper {
		transform: rotateY(180deg);
	}
	.flip-container, .front, .back, .front-sec, .back-sec {
		background: url('../img/landing-first/back-jancard-one.png') no-repeat;
		cursor: pointer;
		background-size: 261px 395px;
		list-style: none;
		padding: 70px 10px 10px 10px;
		margin: 10px 5px;
		z-index: 10;
	}
	.flip-container-third, .front-third, .back-third {
		background: url('../img/landing-first/back-jancard-two.png');
		cursor: pointer;
		list-style: none;
		background-size: cover;
		padding: 28px 10px 10px 10px;
	}
	.flipper {
		transition: 0.6s;
		transform-style: preserve-3d;
		position: relative;
	}
	.front, .back {
		backface-visibility: hidden;
		position: absolute;
	}
	.front-sec, .back-sec {
		backface-visibility: hidden;
		position: absolute;
	}
	.front-third, .back-third {
		backface-visibility: hidden;
		position: absolute;
	}
	.front {
		z-index: 2;
		top: -90px;
		left: -132px;
		min-width: 254px;
		min-height: 395px;
	}
	.front-sec {
		z-index: 2;
		top: -90px;
		left: -132px;
		min-width: 254px;
		min-height: 395px;
	}
	.front-third {
		z-index: 2;
		top: -28px;
		left: -130px;
		min-width: 254px;
		min-height: 360px;
	}
	.back {
		transform: rotateY(180deg);
		top: -90px;
		left: -132px;
		min-width: 254px;
		min-height: 395px;
	}
	.back-sec {
		transform: rotateY(180deg);
		top: -90px;
		left: -132px;
		min-width: 254px;
		min-height: 395px;
	}
	.back-third {
		transform: rotateY(180deg);
		top: -28px;
		left: -130px;
		min-width: 254px;
		min-height: 360px;
	}
	&__cards--lists-third {
		background-size: 261px 395px;
		list-style: none;
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-basis: 254px;
		margin: 10px 5px;
		position: relative;
		min-height: 395px;
		&:before {
			content: url("../img/landing-first/konfetti.png");
			position: absolute;
			width: 100px;
			top: -40px;
			left: -37px;
			z-index: -8;
		}
		&:after {
			content: url("../img/landing-first/konfetti-sec.png");
			position: absolute;
			top: 90px;
			left: -44px;
			z-index: -8;
		}
		img {
			max-height: 195px;
		}
	}
	&__cards--lists-fourth {
		list-style: none;
		background-size: cover;
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-basis: 254px;
		margin: 44px 5px 10px 5px;
		min-height: 358px;
		position: relative;
		&:before {
			content: url("../img/landing-first/new_red.png");
			position: absolute;
			top: -2px;
			left: -3px;
			z-index: 99;
		}
	}
	&__cards--lists-link {
		text-align: center;
		&:hover {
			text-decoration: none;
		}
	}
	&__cards--lists-paragraph {
		color: $paragraph-list;
		font-family: "GothamPro";
		font-size: 16px;
		font-weight: 700;
		line-height: 22px;
		text-transform: uppercase;
		margin-top: 25px;
		margin-bottom: 30px;
		&:hover {
			color: $paragraph-list;
			text-decoration: none;
			opacity: 0.8;
		}
	}
	&__cards--lists-paragraph-sec {
		color: $paragraph-list;
		font-family: "GothamPro";
		font-size: 11px;
		font-weight: 700;
		line-height: 20px;
		text-transform: uppercase;
		&:hover {
			color: $paragraph-list;
			text-decoration: none;
			opacity: 0.8;
		}
	}
	&__cards--lists-paragraph-third {
		color: $white;
		font-family: "GothamPro";
		font-size: 11px;
		font-weight: 700;
		line-height: 20px;
		text-transform: uppercase;
		&:hover {
			color: $white;
			text-decoration: none;
			opacity: 0.8;
		}
	}
	&__cards--lists-span {
		color: $rose-land;
	}

	.landing-margin {
		margin-top: 43px;
	}

	.landing-margin-third {
		margin-top: 34px;
	}

	.landing-margin-fourth {
		margin-top: 38px;
	}

	.landing-margin-fifth {
		margin-top: 41px;
	}

	.landing-margin-bottom {
		margin-bottom: -8px;
	}

	.add-margin {
		margin: 44px 5px 10px 5px;
		@media (max-width: 1200px) {
			margin: 10px 5px 10px 5px;
		}
	}

	&__cards--arrows {
		width: 82px;
		height: 80px;
		box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.13);
		background-color: #fa327b;
		position: absolute;
		top: 150px;
		left: 22px;
		text-align: center;
		z-index: 99;
		color: $white;
		border-radius: 50px;
	}
	&__cards--arrows-img {
		margin: 10px 0;
	}
	&__cards--arrows-p {
		color: $white;
		font-family: "GothamPro";
		font-size: 9px;
		font-weight: 700;
		line-height: 10px;
		text-transform: uppercase;
	}
}

.third-landing {
	background: url("../img/landing-spring/fourth-spring.jpg") no-repeat;
	background-position: -280px 0;
	background-size: cover;
	padding-top: 20px;
	min-height: 1094px;
	width: 100%;
	&__headers {
		text-align: center;
		.line {
			margin: 25px auto;
		}
		&--header {
			color: $white;
			font-family: 'GothamPro-Medium';
			font-size: 38px;
			font-weight: 400;
			line-height: 56px;
			text-transform: uppercase;
			margin-bottom: 60px;
		}
	}

	&__content {
		display: flex;
		flex-direction: row;
		&--lists {
			padding-left: 0;
			margin-left: 0;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}
		&--list {
			flex-basis: 315px;
			list-style: none;
			text-align: center;
			margin: 0 20px;
		}
		&--list-content {
			color: $white;
			font-family: "GothamPro";
			font-size: 16px;
			font-weight: 400;
			line-height: 28px;
			margin-top: 20px;
		}
		&--img-large {
			width: 338px;
		}
		&--list-item {
			position: relative;
		}
		&--list-wings {
			position: absolute;
			left: 116px;
			margin-top: 26px;
		}
		&--list-wings-sec {
			position: absolute;
			right: 116px;
			margin-top: 26px;
		}
		.list-margin {
			margin-top: 27px;
		}
		.list-margin-sec {
			margin-top: 45px;
		}

	}

}

.fourth-landing {
	background: url("../img/landing-spring/third-spring.jpg") center no-repeat;
	background-size: cover;
	width: 100%;
	min-height: 1080px;
	padding: 120px 0;
	display: flex;
	align-items: center;
	&__main-thing {
		text-align: center;
		position: relative;
		z-index: 2;
		&:before {
			content: url("../img/landing-spring/leave.png");
			position: absolute;
			top: -77px;
			left: 373px;
			z-index: -1;
		}
		&--arrow {
			margin-top: 40px;
		}
	}
	&__headers {
		background: url("../img/landing-first/five-things-main.png") center no-repeat;
		max-width: 363px;
		min-height: 328px;
		margin: 30px auto;
		padding-top: 136px;
		padding-left: 47px;
		text-align: left;
		&--header {
			color: $white;
			font-family: 'GothamPro-Bold';
			font-size: 42px;
			font-weight: 400;
			line-height: 62.44px;
			text-transform: uppercase;
		}
		&--paragraph {
			color: $white;
			font-family: "GothamPro";
			font-size: 18px;
			font-weight: 500;
			text-transform: uppercase;
			line-height: 30px;
			max-width: 200px;
		}
	}
	&__other-things {
		margin-top: 40px;
		&--lists {
			display: inline-flex;
			flex-wrap: wrap;
			padding-left: 0;
		}
		&--list {
			text-align: center;
			flex-grow: 1;
			flex-basis: 200px;
			list-style: none;
		}
		&--img {
			max-width: 184px;
			min-height: 222px;
		}
		&--paragraph {
			color: $paragraph-white;
			font-family: "GothamPro";
			font-size: 16px;
			font-weight: 700;
			text-transform: uppercase;
			margin: 15px;
		}
	}
}

.fifth-landing {
	background: url("../img/landing-spring/second-spring.jpg") center no-repeat;
	background-size: cover;
	width: 100%;
	min-height: 1095px;
	padding: 95px 0;
	&__content {
		margin-top: 140px;
		&--lists {
			padding-left: 0;
			display: flex;
			flex-wrap: wrap;
		}
		&--list {
			text-align: center;
			flex-grow: 1;
			list-style: none;
			flex-basis: 300px;
			margin: 25px;
		}
		&--paragraph {
			color: $white;
			font-family: "GothamPro";
			font-size: 14px;
			font-weight: 500;
			line-height: 24px;
			margin-top: 30px;
		}
	}
}

.sixth-landing {
	background: url("../img/landing-spring/first-spring.jpg") center no-repeat;
	background-size: cover;
	min-height: 1020px;
	width: 100%;
	display: flex;
	align-items: center;
	&__block {
		max-width: 332px;
	}
	&__header {
		font-family: 'GothamPro-Bold';
		font-size: 43px;
		font-weight: 400;
		line-height: 54.69px;
		text-transform: uppercase;
		color: #7a3a99;
		margin-top: 15px;
		margin-bottom: 60px;
	}

}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
	background: white;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
	width: 16px;
	height: 16px;
	margin: -8px 0 0 -8px;
	background: transparent;
	box-sizing: border-box;
	border: 1px solid #24221F;
}

#fullpage {
	overflow-x: hidden;
}

.fixed-header {
	position: fixed;
	top: 0;
	z-index: 999;
	left: 0;
	right: 0;
	padding: 23px 88px;
}

.white {
	color: $white !important;
}

.tilter__figure::before {
	box-shadow: none;
}

.size {
	padding: 10px;
	line-height: 2.5;
	font-family: 'GothamPro-Bold';
	font-weight: 700;
	white-space: nowrap;
	display: inline-block;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	min-width:100px;
	text-decoration: none;
	color: #FFF;
	text-shadow: 0 1px 2px rgba(0,0,0,0.75);
	outline: none;
	border-radius: 15px;
	position: relative;
	overflow: visible; /* IE9 & 10 */
	-webkit-transition: 500ms linear;
	-moz-transition: 500ms linear;
	-o-transition: 500ms linear;
	transition: 500ms linear;
}

.navbar-toggleable-md .navbar-nav {
	align-items: center;
}

.size:hover {
	text-shadow: 0 1px 2px rgba(0,0,0,0.75), 0 0 40px #FFF;
	box-shadow:
			inset 1px 1px 0px rgba(255,255,255,0.25), /* highlight */
			inset 0 0 6px #da3b2c, /* inner glow */
			inset 0 80px 80px -40px #dd4330, /* gradient */
			1px 1px 3px rgba(0,0,0,0.75); /* shadow */

}
.size:focus {
	outline: none; /*FF*/
	text-decoration: none;
}
.size:active {
	box-shadow:
			inset 1px 1px 0px rgba(255,255,255,0.25), /* highlight */
			inset 0 0 6px #da3b2c, /* inner glow */
			inset 0 80px 80px -40px #dd4330, /* gradient */
			0px 1px 0px rgba(255,255,255,0.25); /* shadow */

	-webkit-transition: 50ms linear;
	-moz-transition: 50ms linear;
	-o-transition: 50ms linear;
	transition: 50ms linear;
	text-decoration: none;
}

.land-card-size {
	max-height: 200px;
}


.back-test {
	background: url("../img/landing-spring/back-spring.png") no-repeat !important;
	background-size: cover !important;
}


.icon {
	transition: .3 ease-in-out;
	animation: pulse 1.4s infinite;
	width: 30px;
	height: 40px;
}

@keyframes pulse {
	50% {
		transform: scale(1.07) translateY(-2px);
	}
}

@keyframes pulse-icon {
	50% {
		transform: rotate(90deg) scale(1.07) translateY(-2px);
	}
}