.m-nav{
  &-list{
    list-style: none;
    padding: 3.5%;
  }
  &__item{
    margin-bottom: calc(13/800 * 100vw);
    border-radius: 4px;
    &:last-child{
      margin-bottom: 0;
    }
    &--blue{
      background: #8958cb;
      border-bottom: 4px solid #7b4fb6;
      &:hover{
        background: #7b4fb6;
      }
    }
    &--rose{
      background: #f6aec9;
      border-bottom: 4px solid #dd9cb5;
      &:hover{
        background: #dd9cb5;
      }
    }

    &--gifts{
      background: #8958cb url("../img/m-nav/winter/back/gifts.jpg") no-repeat center;
      background-size: 100% 100%;
      border-bottom: 8px solid #7b4fb6;
      &:hover{
        opacity: 0.8;
      }
    }

    &--course1{
      background: #8958cb url("../img/m-nav/winter/back/course1.jpg") no-repeat center;
      background-size: 100% 100%;
      border-bottom: 8px solid #7b4fb6;
      &:hover{
        opacity: 0.8;
      }
    }

    &--course2{
      background: #8958cb url("../img/m-nav/winter/back/course2.jpg") no-repeat center;
      background-size: 100% 100%;
      border-bottom: 8px solid #7b4fb6;
      &:hover{
        opacity: 0.8;
      }
    }

    &--dignity{
      background: #8958cb url("../img/m-nav/winter/back/dignity.jpg") no-repeat center;
      background-size: 100% 100%;
      border-bottom: 8px solid #7b4fb6;
      &:hover{
        opacity: 0.8;
      }
    }

    &--dating{
      background: #8958cb url("../img/m-nav/winter/back/dating.jpg") no-repeat center;
      background-size: 100% 100%;
      border-bottom: 8px solid #7b4fb6;
      &:hover{
        opacity: 0.8;
      }
    }

    &--antimanipulation{
      background: #f6aec9 url("../img/m-nav/winter/back/antimanipulation.jpg") no-repeat center;
      background-size: 100% 100%;
      border-bottom: 8px solid #c6697f;
      &:hover{
        opacity: 0.8;
      }
    }

    &--youtube{
      background: #f6aec9 url("../img/m-nav/winter/back/youtube.jpg") no-repeat center;
      background-size: 100% 100%;
      border-bottom: 8px solid #c6697f;
      &:hover{
        opacity: 0.8;
      }
    }

    &--letter{
      background: #f6aec9 url("../img/m-nav/winter/back/letter.jpg") no-repeat center;
      background-size: 100% 100%;
      border-bottom: 8px solid #c6697f;
      &:hover{
        opacity: 0.8;
      }
    }

    &--call-vasilisa{
      background: #f6aec9 url("../img/m-nav/winter/back/call-vasilisa.jpg") no-repeat center;
      background-size: 100% 100%;
      border-bottom: 8px solid #c6697f;
      &:hover{
        opacity: 0.8;
      }
    }

    &--call-us{
      background: #f6aec9 url("../img/m-nav/winter/back/call-us.jpg") no-repeat center;
      background-size: 100% 100%;
      border-bottom: 8px solid #c6697f;
      &:hover{
        opacity: 0.8;
      }
    }

    &--newsletter{
      background: #f6aec9 url("../img/m-nav/winter/back/newsletter.jpg") no-repeat center;
      background-size: 100% 100%;
      border-bottom: 8px solid #c6697f;
      &:hover{
        opacity: 0.8;
      }
    }

    &-link{
      display: flex;
      align-items: center;
      height: calc(143/800 * 100vw);
      padding: 0 8%;
      font-family: "GothamPro-Bold";
      font-size: calc(24/800 *100vw);
      color: white;
      text-transform: uppercase;
      &:hover{
        text-decoration: none;
        color: white;
      }
    }
    &-img-wrap{
      display: inline-block;
      //width: 60px;
      width: 7.5%;
      max-width: 7.5%;
      margin-right: 4.3%;
    }
    &-img{
      max-width: 100%;
    }
    &-text{

    }
  }
}

.modalMailing{
  padding: 7%;
  &__content{
    margin-top: calc(0.1 * 100vh);
    background: white;
    padding: 8%;
    position: relative;
    border-radius: 4px;
    border: 2px solid #ebebeb;
  }
  &__btn-close{
    position: absolute;
    display: block;
    font-family: " GothamPro-Bold ";
    font-size: 18px;
    line-height: 13px;
    vertical-align: center;
    text-align: center;
    top: -12px;
    right: -13px;
    width: 10px;
    height: 18px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #ebebeb;
    box-sizing: content-box;
    cursor: pointer;
    &:hover{
      opacity: 0.8;
    }
    &:focus{
      outline: none;
    }
  }
  &__form{
    display: flex;
    flex-direction: column;
    &-email{
      padding: 0 10px;
      width: 100%;
      border: 2px solid #ebebeb;
      border-radius: 4px;
      font-family: "GothamPro-Bold";
      font-size: 16px;
      color: grey;
      text-align: center;
      &:focus{
        outline: none;
      }
    }
    &-text{
      font-family: "GothamPro-Bold";
      font-size: 16px;
      color: grey;
      margin: 5% 0;
      text-align: center;
    }
    &-submit{
      margin:0 auto;
      background: #8958cb;
      border-radius: 4px;
      padding: 10px 20px;
      font-family: "GothamPro-Bold";
      color: white;
      font-size: 16px;
      cursor: pointer;
      border: none;
      border-bottom: 4px solid #7b4fb6;
      &:hover{
        background: #7b4fb6;
      }
    }
  }
}


.modalMailMila{
  padding: 7%;
  &__content{
    margin-top: calc(0.1 * 100vh);
    background: white;
    padding: 8%;
    position: relative;
    border-radius: 4px;
    border: 2px solid #ebebeb;
  }
  &__btn-close{
    position: absolute;
    display: block;
    font-family: " GothamPro-Bold ";
    font-size: 18px;
    line-height: 13px;
    vertical-align: center;
    text-align: center;
    top: -12px;
    right: -13px;
    width: 10px;
    height: 18px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #ebebeb;
    box-sizing: content-box;
    cursor: pointer;
    &:hover{
      opacity: 0.8;
    }
    &:focus{
      outline: none;
    }
  }
  &__form{
    display: flex;
    flex-direction: column;
    &-email{
      width: 100%;
      border: 2px solid #ebebeb;
      border-radius: 4px;
      font-family: "GothamPro-Bold";
      font-size: 16px;
      color: grey;
      text-align: center;
      padding: 0 10px;
      &:focus{
        outline: none;
      }
    }
    &-textarea{
      width: 100%;
      height: 30vh;
      border: 2px solid #ebebeb;
      border-radius: 4px;
      font-family: "GothamPro-Bold";
      font-size: 16px;
      color: grey;
      text-align: center;
      margin: 5% 0;
      padding: 10px;
      &:focus{
        outline: none;
      }
    }
    &-submit{
      margin:5% 0 0;
      background: #8958cb;
      border-radius: 4px;
      padding: 10px 20px;
      font-family: "GothamPro-Bold";
      color: white;
      font-size: 16px;
      cursor: pointer;
      border: none;
      border-bottom: 4px solid #7b4fb6;
      &:hover{
        background: #7b4fb6;
      }
    }
  }
}