.manipulation121218 {
  background-color: #f9f7ed !important;
  font-family: 'GothamPro';
  font-weight: 400;
  color: black;
}

.manipulation1212-img {
  width: 100%;
  height: auto;
}

.manipulation1212-btn {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-family: 'GothamPro-Medium';
  font-size: 14px;
  line-height: 58px;
  color: white;
  border-radius: 5px;
  background: linear-gradient(to top, #184aeb, #a10dff);
  padding: 0 28px;
  &:hover {
    text-decoration: none;
    color: white;
    //background: #184aeb;
    opacity: 0.7;
  }
}

.manipulation121218-title {
  font-family: "GothamPro-Black";
  font-size: 42.37px;
  line-height: 50.54px;
  text-align: center;
}

.manipulation121218--underline-blue {
  background: url("../img/manipulation121218/underline-blue-bg.jpg") repeat-x 0 88%;
}

.manipulation121218--underline-rose {
  background: url("../img/manipulation121218/underline-blue-rose.jpg") repeat-x 0 88%;
}

//MANIPULATION121218-FIRST
.manipulation121218-first {
  background: url("../img/manipulation121218/first/bg-lines.png") repeat-x center;
  &__content {
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  &__title {
    font-family: 'TT Norms Black';
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__chief-image-wrap {
    position: absolute;
    bottom: 0;
    left: -180px;
    transform: scale(1.15);
    transform-origin: bottom;
    background-color: #faf8ee;
    padding-left: 50px;
    padding-right: 245px;
  }
  &__half {
    min-width: 440px;
    flex-basis: 50%;
    padding: 0 15px;
    position: relative;
    z-index: 1;
    margin-left: 50%;
  }
  &__list {
    list-style: none;
    padding: 45px 0 20px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__list-item {
    flex-basis: 45%;
    min-width: 250px;
    flex-grow: 1;
    display: flex;
    align-items: start;
    margin-bottom: 25px;
    &__text {
      padding: 0 14px;
      margin: 0;
    }
  }
}

//MANIPULATION121218-SECOND
.manipulation121218-second {
  background-color: white;
  &__content {
    background: url("../img/manipulation121218/second-bg.jpg") no-repeat center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0;
    font-family: "GothamPro";
  }
  &__half {
    flex-basis: 400px;
    flex-grow: 1;
    padding: 0 4%;
  }
  &__text-left-half {
    font-family: "GothamPro-Black";
    font-size: 42.37px;
    line-height: 56px;
    margin: 0;
  }
  &__title {
    font-family: "GothamPro-Black";
    font-size: 69px;
    line-height: 67.54px;
    margin-bottom: 24px;
    &--rose {
      color: #ff3a8b;
    }
  }
  &__subtitle {
    font-family: "GothamPro-Medium";
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 24px;
  }
  &__text {
    font-family: "GothamPro-Light";
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 24px;
  }
}

.manipulation121218__chief-image-wrap {
  position: absolute;
  width: 60%;
  z-index: -1;
}

.manipulation1212__chief-image {
  width: 100%;
  height: auto;
}

.manipulation121218__message-box {
  width: 40%;
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  position: relative;
  &:after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: url("../img/manipulation121218/bg-quotes.png") no-repeat top;
    //background-size: cover;
    opacity: 0.7;
    z-index: -1;
  }
  &__title-right {
    font-family: "GothamPro-Light";
    font-size: 28px;
    line-height: 38px;
    text-align: right;
    padding: 40px 0;
  }
  &--right {
    margin-left: 60%;
  }
}

//MANIPULATION121218-THIRD
.manipulation121218-third {
  &__container {
    min-height: 685px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  &__btn {
    align-self: flex-end;
  }
}

//MANIPULATION121218-FORTH
.manipulation121218-forth {
  background-color: white;
  text-align: center;
  &__container {
    background: url("../img/manipulation121218/forth-bg.png") no-repeat center;
    background-size: 2000px 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    min-height: 765px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
  }

  &__shadow-wrap {
    position: absolute;
    top: 100%;
    width: 100%;
    left: -4%;
    z-index: 1;
  }

  &__content {
    flex-basis: 35%;
    min-width: 280px;
    z-index: 100;
  }
  &__title {
    font-size: 28px;
    line-height: 36px;
    font-family: "GothamPro-Bold";
    padding: 20px 68px;
    text-shadow: 0 -1px 1px #ffffff, 0 -1px 1px #FFFFFF, 0 1px 1px #FFFFFF, 0 1px 1px #FFFFFF, -1px 0 1px #FFFFFF, 1px 0 1px #FFFFFF, -1px 0 1px #FFFFFF, 1px 0 1px #FFFFFF, -1px -1px 1px #FFFFFF, 1px -1px 1px #FFFFFF, -1px 1px 1px #FFFFFF, 1px 1px 1px #FFFFFF, -1px -1px 1px #FFFFFF, 1px -1px 1px #FFFFFF, -1px 1px 1px #FFFFFF, 1px 1px 1px #FFFFFF;
  }
  &__list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 48%;
    &-number {
      font-family: "GothamPro-Bold";
      font-size: 38.78px;
      line-height: 49px;
      width: 57px;
      background: url("../img/manipulation121218/decor-forth-number.png") no-repeat center;
    }
    &-text {
      max-width: 150px;
    }
  }
}

//MANIPULATION121218-FIFTH
.manipulation121218-fifth {
  overflow-x: hidden;
  &__container {
    min-height: 695px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  &__chief-image-wrap {
    position: absolute;
    bottom: 0;
    right: -25%;
    width: 95%;
  }
}

//MANIPULATION121218-SIX
.manipulation121218-six {
  background-color: white;
  &__container {
    //background-color: white;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
    min-height: 780px;
  }
  &__lectures {
    list-style: none;
    padding: 24px 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__lecture {
    flex-basis: 31%;
    min-width: 280px;
    padding-top: 40px;

    &-head {
      background: url("../img/manipulation121218/lecture-head-decor.png") no-repeat center;
      background-size: 100% 100%;
      width: 129px;
      height: 49px;
      text-align: center;
      margin-bottom: 20px;
    }
    &-head-number {
      font-family: "GothamPro-Bold";
      font-size: 38.78px;
      line-height: 1;
      margin: 0;
    }
    &-head-text {
      font-family: "GothamPro-Medium";
      font-size: 16px;
      line-height: 1;
      margin: 0;
    }
    &-title {
      font-size: 20px;
      line-height: 28px;
      font-family: "GothamPro-Bold";
    }
    &-list {
      list-style: url("../img/manipulation121218/lecture-list-style.png");
      padding-left: 20px;
      font-size: 15px;
      line-height: 21px;
    }
    &-list-item {
      padding: 10px 0;
      font-family: "GothamPro";
    }
  }
}

//MANIPULATION121218-SEVEN
.manipulation121218-seven {
  background: url("../img/manipulation121218/bg-seventh.jpg") no-repeat center;
  background-size: cover;
  &__container {
    //background: url("../img/manipulation121218/bg-seventh.jpg") no-repeat center;
    //background-size: cover;
    min-height: 695px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  &__chief-image-wrap {
    position: absolute;
    z-index: 100;
    bottom: 0;
  }
}

//MANIPULATION121218-EIGHT
.manipulation121218-eight {
  background-color: white;
  &__container {
    //background-color: white;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.manipulation121218__tariffs {
  list-style: none;
  padding: 25px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.manipulation121218__tariff {
  flex-basis: 50%;
  min-width: 280px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  transition: 700ms;

  &-head {
    background: url("../img/manipulation121218/tariff-head-decor.png") no-repeat center;
    background-size: 100% 100%;
    width: 229px;
    height: 49px;
    text-align: center;
  }
  &-type {
    font-size: 18px;
    line-height: 1;
    font-family: "GothamPro-Medium";
    margin: 0;
  }
  &-price {
    font-size: 50.56px;
    line-height: 1;
    margin: 0;
    font-family: "GothamPro-Bold";
  }
  &-list {
    list-style: url("../img/manipulation121218/lecture-list-style.png");
    padding: 28px 0 28px 20px;
    font-size: 14px;
    line-height: 26px;
    font-family: "GothamPro-Medium";
  }
  &-foot {
    width: 100%;
    text-align: center;
  }

  &:hover {
    .manipulation121218__tariff-type,
    .manipulation121218__tariff-price {
      color: #6737f1;
      transition: 700ms;
    }
    transition: 700ms;
    background-color: #fff3f7;
    box-shadow: 0 0 40px 13px rgba(197, 29, 73, 0.1);
  }
}

//MANIPULATION121218-NINE
.manipulation121218-nine {
  &__container {
    padding-top: 100px;
    padding-bottom: 100px;
    min-height: 690px;
  }
}

.manipulation121218-nine__carousel {
  padding: 100px 0;
}

.manipulation121218--carousel-prev {
  background: url("../img/manipulation121218/left-arrow.svg") center no-repeat;
  background-size: 25px 40px;
  width: 25px;
  height: 40px;
  &:before {
    display: none;
  }
}

.carousel-control-prev:hover .manipulation121218--carousel-prev {
  background: url("../img/manipulation121218/left-arrow-blue.svg") no-repeat center;
  background-size: 25px 40px;
  width: 25px;
  height: 40px;
}

.manipulation121218--carousel-next {
  background: url("../img/manipulation121218/right-arrow.svg") center no-repeat;
  background-size: 25px 40px;
  width: 25px;
  height: 40px;
  &:before {
    display: none;
  }
}

.carousel-control-next:hover .manipulation121218--carousel-next {
  background: url("../img/manipulation121218/right-arrow-blue.svg") no-repeat center;
  background-size: 25px 40px;
  width: 25px;
  height: 40px;
}

/*

CC 2.0 License Iatek LLC 2018
Attribution required

*/

@media (max-width: 1199px) {
  .manipulation121218-forth__container {
    background-size: 1622px 100%;
    padding-top: 75px;
    padding-bottom: 50px;
    min-height: 765px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
  }
}

@media (min-width: 768px) {
  .manipulation121218-nine__carousel {
    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item {
      display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
      transition: none;
    }

    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }

    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: absolute;
      top: 0;
      right: -33.3333%;
      z-index: -1;
      display: block;
      visibility: visible;
    }

    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }

    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      visibility: visible;
    }

    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible;
    }
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .manipulation121218-first__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .manipulation121218-first__chief-image-wrap {
    position: relative;
    left: 0;
    transform: scale(1);
    padding: 0;
    margin-bottom: 10%;
  }
  .manipulation121218-first__half {
    margin-left: 0;
  }
  //SECOND
  .manipulation121218-second {
    background: url("../img/manipulation121218/second-bg.jpg") no-repeat center;
    background-size: cover;
  }
  .manipulation121218-second__content {
    padding-top: 10%;
    padding-bottom: 10%;
    background: none;
  }
  .manipulation121218-second__text-left-half {
    padding-bottom: 15%;
  }
  //THIRD
  .manipulation121218-third__container {
    min-height: 500px;
  }
  //FORTH
  .manipulation121218-forth__container {
    background: white;
    padding-top: 10%;
    padding-bottom: 5%;
  }
  .manipulation121218-forth__content {
    flex-basis: 100%;
  }
  .manipulation121218-forth__list-item {
    margin: 25px 0;
  }
  .manipulation121218-forth__shadow-wrap {
    display: none;
  }
  //FIFTH
  .manipulation121218-fifth__container {
    padding-top: 10%;
    padding-bottom: 10%;
    min-height: 0;
  }

  //SIX
  .manipulation121218-six__container {
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .manipulation121218-six__lectures {
    justify-content: space-around;
  }

  .manipulation121218-seven__chief-image-wrap {
    left: -25%;
  }
  .manipulation121218__tariffs {
    justify-content: space-evenly;
  }
  .manipulation121218-eight__container {
    padding-top: 10%;
    padding-bottom: 5%;
  }
  .manipulation121218__tariffs {
    margin: 0;
    padding: 0;
  }

  .manipulation121218-nine__container {
    min-height: 0;
    padding-top: 10%;
    padding-bottom: 5%;
  }

  .manipulation121218-forth__title {
    padding: 0;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .manipulation121218-first__chief-image-wrap {
    max-width: 100%;
  }
  .manipulation121218-nine__carousel {
    padding: 5% 0;
  }

  .manipulation121218-first__half {
    min-width: 0;
  }

  .manipulation121218-third__container {
    padding-bottom: 10%;
  }

  .manipulation121218__chief-image-wrap {
    position: inherit;
    width: 100%;
    margin-bottom: 10%;
  }
  .manipulation121218__message-box {
    margin: 0;
    width: 100%;
  }

  .manipulation121218-fifth__container {
    padding-bottom: 0;
  }
  .manipulation121218__message-box__title-right {
    width: 100%;
  }
  .manipulation121218-fifth__chief-image-wrap {
    position: relative;
    right: -5%;
    width: 100%;
    margin-top: 10%;
  }
  .manipulation121218-seven__container {
    padding-top: 10%;
    padding-bottom: 10%;
    min-height: 500px;
  }
  .manipulation121218-seven__chief-image-wrap {
    width: 80%;
  }
}

@media (max-width: 575.98px) {
  .manipulation121218-title {
    text-align: center;
  }
  .manipulation121218-six__lecture {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .manipulation121218-second__text-left-half {
    font-size: 35px;
    line-height: 40px;
  }

  .manipulation121218-second__title {
    font-size: 50px;
  }
}

@media (max-width: 475px) {
  .manipulation121218-title {
    font-size: 35px;
    line-height: 45px;
  }
}

@media (max-width: 375px) {
  .manipulation121218-second__text-left-half {
    font-size: 30px;
  }
}