@import "vars";

@media (min-width: 1800px) {
	.third-landing {
		background-position: 0;
	}

	.april-action {
		background: url('../img/landing-april/april-back.jpg') center 2px no-repeat;
		background-size: 100% 100%;
	}

	.birthday-section__main-years--block {
		right: -20px;
	}
}

@media (max-width: 1500px) {
	.review-body__tape--absolute-content {
		display: none;
	}
}

@media only screen and (max-width: 1200px) {
	.header__first-list--item {
		margin-right: 0;
	}
	.info {
		margin-top: 20px;
		color: $header-footer;
		font-size: 12px;
		font-family: 'GothamPro-Medium';
	}
	.copyright {
		font-size: 12px;
	}
	.footer__second--link-sec {
		margin-right: 33px;
	}

	#sidebar-wrapper .sidebar-nav {
		min-height: 270px;
	}

	.padding-class {
		position: absolute;
		top: 30px;
		margin-top: 0;
		right: 206px;
		.sidebar-sec {
			margin-top: 0;
		}
	}
	.main-content {
		min-width: 550px;
		margin-left: auto;
		margin-right: auto;
	}

	#sidebar-wrapper {
		background: transparent;
		z-index: 10;
		left: 190px;
		min-height: 325px;
	}

	.content__blocks {
		overflow-x: hidden;
		flex-direction: column;
	}

	.footer__second--list-sec {
		margin-right: 0;
	}

	.main-content__linked {
		flex-grow: 1;
		flex-basis: 320px;

	}

	.sidebar-sec__button {
		padding: 10px;
		max-width: 190px;
		margin: 0 auto;
	}

	.intro-content__second-block--image {
		width: 100%;
		height: auto;
	}

	.intro-content__second-block--paragraph:before {
		left: -35px;
	}

	.intro-content__second-block--paragraph:after {
		right: -35px;
	}

	.intro-content__second-block--email:after {
		right: -18px;
	}

	.hw-margin {
		margin: 10px 15px;
	}

	.homework_content {
		min-width: 100%;
	}

	.content {
		background-image: none;
	}

	.hw_sidebar-sec {
		min-width: 540px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.homework_header {
		margin-left: 0;
		h3 {
			margin-left: 0;
			text-align: center;
		}
	}

	.main-content__header--hw-content {
		text-align: center;
		margin-left: 0;
	}

	.sidebar-nav__homework {
		min-width: 540px !important;
	}

	.block-second__img:after {
		left: 51px;
	}

	.content-margin {
		margin-left: 20px;
		padding-bottom: 30px;
		margin-top: 40px;
		position: relative;
		&:before {
			content: url("../img/cards/up-line.png");
			background: url("../img/cards/up-line.png") 847px 6px no-repeat;
			width: 1000px;
			position: absolute;
			top: -13px;
			left: -10px;
		}
		&:after {
			content: url("../img/cards/down-line.png");
			background: url("../img/cards/down-line.png") 846px 4px no-repeat;
			width: 1000px;
			position: absolute;
			bottom: -18px;
			left: -4px;
		}
	}

	.form-question__form {
		background: url(../img/meets/enter-input.png) 835px no-repeat;
	}

	.meet-pay {
		box-shadow: none;
	}

	.second-landing__cards--arrows {
		left: 70px;
	}

	.second-landing {
		padding-bottom: 100px;
	}

	.third-landing__content--list-wings {
		left: 211px;
	}

	.third-landing__content--list-wings-sec {
		right: 211px;
	}

	.margin-landing {
		margin-left: 0;
	}

	.landing-margin {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.second-landing__cards--lists {
		justify-content: center;
	}

	.cards-margin {
		margin-top: 10px;
	}

	.choose-course {
		overflow: hidden;
	}

	.choose-course__second-blocks--lists {
		justify-content: center;
	}

	.review-body__training--second-text-btn {
		left: 350px;
	}

	.review-body__training--second-img {
		margin-top: 45px;
	}

	.review-body__training--first-btn {
		margin: 20px 0;
		max-width: 100%;

	}

	.review-body__block-card--row {
		flex-direction: column;
		text-align: center;
		iframe, img {
			max-width: 100%;
		}
	}

	.review-body__block-card--video {
		min-width: 100%;
	}

	.review-body__block-card--bookmarks {
		margin-top: 25px;
	}

	.review-body__block-card--buttons {
		margin-bottom: 15px;
	}

	.tape-column {
		flex-direction: column !important;
	}

	.review-body__tape--roof-lists {
		left: 33px;
		top: 326px;
	}

	.review-body__tape--tabs-right-raiting-content {
		font-size: 12px;
	}

	.review-body__tape--tabs-right-raiting-content-last {
		white-space: nowrap;
	}

	.review-body__tape--tabs-right-raiting {
		padding: 15px;
	}

	.review-body__tape--tabs-right-raiting-prize-sec {
		top: 77px;
		left: 14px;
	}

	.review-body__tape--tabs-right-raiting-line {
		top: 102px;
		left: 102px;
	}

	.review-body__tape--absolute-content {
		display: none;
	}

	.review-body__tape--tabs-link {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		padding: 5px;
	}

	.review-body__tape--tabs-img {
		margin: 10px;
		width: 24px;
	}

	.review-body__tape--tabs-img-watch {
		margin: 10px;
		height: auto;
		width: 17px;
	}

	.review-body__block-card--buttons-content {
		margin-top: 15px;
	}

	.review-body__club--img {
		width: 290px;
	}

	.review-body__club--second {
		padding: 55px 40px 40px 40px;
	}

	.review-body__club--second-list:before {
		display: none;
	}

	.review-body__training--second-button {
		margin-top: 10px;
	}

	.review-body__club--second-drop-first {
		flex-direction: column;
	}

	.review-body__club--second-drop-second {
		display: flex;
		flex-direction: column;
		margin-top: 0;
	}

	.review-body__club--second-form-inner {
		flex-direction: column;
	}

	.review-body__club--main-inputs {
		margin-right: 0 !important;
	}

	.review-body__club--second-drop-link-family, .review-body__club--second-drop-link-age,
	.review-body__club--second-drop-link-city, .review-body__club--second-drop-link-child {
		width: 100%;
		margin: 5px 0;
		background-position-x: 240px;
	}

	.club-filter__width {
		min-width: 640px;
	}

	.club-filter__select-width {
		margin-right: 15px !important;
		background-position-x: 144px;
	}

	.club-filter__select-width-sec {
		background-position-x: 33px;
	}

	.club-chat__width {
		min-width: 675px;
	}

	.cabinet-statistic___content--width {
		min-width: 670px;
	}

	.cabinet-statistic___content--first-txt {
		font-size: 18px;
	}

	.cabinet-statistic___content--first-span {
		font-size: 12px;
	}

	.cabinet-statistic___content--home-select {
		margin-right: 0 !important;
		margin-left: 10px;
		background-position-x: 144px;
		min-width: 160px;
	}

	.cabinet-statistic___content--select-main {
		min-width: 165px;
	}

	.homework_card--button-card-two:before {
		left: -12px;
	}

	.cabinet_hw--width {
		min-width: 677px;
	}

	.april-action__first {
		justify-content: center;
	}

	.april-action__first--days {
		text-align: center;
	}

	.april-action__first--days-up-content {
		margin: 190px auto 40px auto;
	}

	.april-action__first--days-header {
		font-size: 90px;
	}

	.april-action__first--days-button {
		margin-top: 10px;
	}

	.april-action__first--days-down-content-one {
		font-size: 44px;
	}

	.april-action__first--days-down-content-sec {
		font-size: 24px;
	}

	.april-action__first--days-down-content-third {
		font-size: 10px;
	}

	.april-action__sixth--tariff-third-block, .april-action__sixth--tariff-second-block {
		width: 100%;
	}

	.april-action__fourth--links-two:before, .april-action__fourth--links-two:after {
		display: none;
	}

	.april-action__fourth--links-one-third-romb:before {
		left: -27px;
	}

	.april-action__fourth--links-one-fifth-romb:before {
		left: -25px;
	}

	.april-action__fourth--links-two-fifth-romb:before {
		left: -22px;
	}

	.april-action__fourth--links-three-first-romb:before {
		left: -41px;
	}

	.april-action__fourth--links-three-fourth-romb:before {
		left: 21px
	}

	.banner__first--online-paragraph {
		margin: 10px 0 0 0;
	}

	.april-action__first--days-header {
		font-size: 55px;
	}

	.banner__first--absolute {
		left: -65px;
	}

	.banner__first--button-take-part {
		margin-top: 55px;
	}

	.banner__first--online-header-sec {
		margin-bottom: 119px;
	}

	.banner__first--online-header:after {
		display: none;
	}

	.banner__first--online-header-sec:after {
		display: none;
	}

	.banner__courses--header-sec {
		margin-bottom: 26px;
	}

	.april-action__first--date {
		display: flex;
		justify-content: center;
	}

	.april-action__first--dashed {
		margin-left: auto;
		margin-right: auto;
	}

	.april-action__first--lections-before:before {
		display: none;
	}

	.april-action__first--part-content {
		flex-direction: column;
	}

	.april-action__first--days-down-content:before {
		display: none;
	}

	.april-action__third--lection-border:before, .april-action__third--lection-border:after {
		display: none;
	}

	.book__add-menu--shop {
		flex-direction: column;
		align-items: center;
		padding: 30px 0;
	}

	.book__add-menu--trash {
		margin-top: 15px;
	}

	.book__stories--blocks {
		flex-direction: column-reverse;
		padding-bottom: 220px;
	}

	.book__stories--image {
		max-height: 100%;
		width: 100%;
		margin-left: 0;
	}
	.book__stories--second-header:after {
		display: none;
	}

	.book__stories--second-block {
		min-width: 800px;
	}

	.book__stories {
		padding-top: 50px;
	}

	.book__stories--second-header:before {
		display: none;
	}

	.book-need-read__icons {
		padding: 80px
	}

	.book-need-read__icons--icon-one:before,
	.book-need-read__icons--icon-two:before,
	.book-need-read__icons--icon-three:before,
	.book-need-read__icons--icon-four:before,
	.book-need-read__icons--icon-five:before,
	.book-need-read__icons--icon-six:before {
		display: none;
	}

	.book-need-read__icons--paragraph {
		max-width: 235px;
	}

	.book-need-read {
		padding-bottom: 80px;
	}

	.book-need-read__info {
		flex-direction: column;
		align-items: center;
	}

	.book-need-read__info--sec {
		margin-top: 40px;
		margin-left: 0;
	}

	.book-need-read__info--first {
		text-align: center;
	}

	.book-need-read__info--first-image {
		flex-direction: column;
	}

	.book-need-read__info--paragraph:before {
		left: -50px;
	}

	.book-sliders__carousel-content--lists {
		left: 536px;
	}

	.how-say__content--second:before {
		display: none;
	}

	// meet-page

	.meet-page__footer--image {
		display: none;
	}

	.banner__first--absolute-sec {
		right: 37px;
	}

	.course__form-column {
		display: flex;
		flex-direction: column;
	}

	.course__form--position {
		left: -40px;
		top: -6px;
	}

	.course__form--position-sec {
		left: -40px;
	}

	//law

	.law-products {
		justify-content: center;
	}

	.law-product {
		margin: 13px 10px;
	}

	.law-inform, .law-inform__one,
	.law-inform__sec, .law-inform__third,
	.law-inform__fourth {
		display: none;
	}
}

@media (max-width: 1070px) {
	.fixed-header {
		padding: 23px 55px;
	}

	.header__first-list {
		margin-left: 10px;
	}

	.labels-check {
		position: absolute;
		right: 0;
		left: 135px;
		margin-left: auto;
		margin-right: auto;
		top: 961px;
	}

	.choose-modal {
		background-size: cover;
	}

	.review-body__block--header-link {
		line-height: 16px;
	}
}

@media only screen and (max-width: 992px) {

	.overflow-y {
		overflow-y: hidden;
	}

	.main-content__linked {
		flex-basis: 100px;
	}

	#sidebar-wrapper {
		min-height: 240px;
	}

	.content {
		background-color: #f4eef5;
		background-image: none;
	}

	.header {
		position: relative;
		&__first-list {
			margin-left: 0;
			text-align: center;
		}
		&__second {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
			width: 300px;
		}
		&__second-list {
			display: flex;
			flex-direction: row;
		}
		.header__second-list--itemOne {
			margin: 10px 0;
		}
		.collapse {
			text-align: center;
		}
		&__second-list {
			float: right;
			&--border {
				position: relative;
				&:before {
					display: none;
				}
			}
			&--border-sec {
				position: relative;
				&:before {
					display: none;
				}
				&:after {
					display: none;
				}
			}
		}
	}

	.button-size-card {
		margin-top: 25px !important;
	}

	.navbar-toggleable-md .navbar-nav .dropdown-menu {
		position: absolute;
	}
	.footer__first--list-sec {
		margin-left: 0;
		padding-left: 0;
	}

	.main-content {
		margin-top: 40px;
		min-width: 550px;
		margin-left: auto;
		margin-right: auto;
	}

	#sidebar-wrapper {
		left: 0;
		position: static;
	}

	.content__blocks {
		flex-direction: column;
	}

	#sidebar-wrapper .sidebar-nav {
		min-height: 224px;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		top: 40px;
		min-width: 660px;
	}
	.padding-class {
		position: relative;
		top: 40px;
		margin-top: 0;
		right: 0;
		left: 0;
		margin-left: auto;
		margin-right: auto;
		min-width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	.sidebar-sec__insta--link {
		justify-content: center;
	}

	.sidebar-sec {
		text-align: center;
		padding: 10px;
		min-height: 270px;
	}

	.main-content__list--second {
		flex-direction: column;
	}

	.main-content__list--first-img {
		max-width: 200px;
		margin: 0 auto;
	}

	.main-content__list--second-list {
		margin-right: 0;
		align-items: center;
	}

	.main-content__inner-head {
		text-align: center;
	}

	.main-content__list--first {
		flex-direction: column;
		text-align: center;
		align-items: center;
	}

	.main-content__chance {
		padding-left: 0;
		text-align: center;
		background-size: cover;
		padding-right: 0;
	}

	.intro-content__row {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.intro-content__first-block {
		padding-top: 65px;
	}

	.intro-content__second-block {
		padding-top: 65px;
	}

	.intro-content__header-first {
		font-size: 46px;
	}
	.intro-content__header-first--add {
		font-size: 58px;
	}

	.intro-content__paragraph-dotted {
		font-size: 27px
	}

	.intro-content__paragraph-opacity {
		font-size: 33px;
		margin-bottom: 0;
	}

	.intro-content__second-block--header {
		font-size: 25px;
	}

	.intro-content__play-link .intro-content__play-link--paragraph {
		font-size: 18px;
	}
	.intro-content__play-link .intro-content__play-link--paragraph-sec {
		font-size: 25px;
	}

	.intro-content__second-block--email:after, .intro-content__second-block--email:before,
	.intro-content__second-block--email .top-image, .intro-content__second-block--email .bottom-image {
		display: none;
	}

	.intro-content__second-block--email .form-control {
		padding-left: 10px;
	}

	.intro-content {
		padding-bottom: 60px;
	}

	.homework_content {
		min-width: 100%;
	}
	.main-content__links--first {
		flex-direction: column;
		align-items: center;
	}

	.main-content__links--second {
		flex-direction: column;
		align-items: center;
	}

	.hw_sidebar-sec {
		min-width: 660px;
	}

	.sidebar-nav__homework {
		min-width: 660px !important;
	}

	.block-first, .block-second, .block-third, .block-fourth {
		margin-left: 0;
	}

	.line-before {
		position: relative;
		&:before {
			display: none;
		}
	}

	.content-margin {
		&:before {
			top: -13px;
			left: -77px;
		}
		&:after {
			bottom: -18px;
			left: -77px;
		}
	}

	.overflow-cards {
		min-height: 1025px;
	}

	.meets-info-first {
		flex-direction: column;
		align-items: center;
		&__block-img {
			margin-left: 0;
			text-align: center;
		}
		&__block-img-sec:before {
			display: none;
		}
	}

	.meets-sec-resp {
		margin: 15px 0;
	}

	.meets-info-first__block--meet-image {
		display: none;
	}

	.meets-info-first__block-img--context {
		margin: 15px 0;
	}

	.third-landing__headers--header {
		margin-bottom: 10px;
	}

	.third-landing__content--list-content {
		color: $white;
	}

	.third-landing {
		background-size: cover;
		padding-bottom: 50px;
	}

	.third-landing__content--list-wings {
		left: 267px;
	}

	.third-landing__content--list-wings-sec {
		right: 267px;
	}

	.landing-margin {
		margin-top: 7px;
	}

	.margin-landing {
		margin-right: 0;
	}

	.second-landing__cards--lists-fourth {
		margin: 10px 5px 10px 5px;
	}

	.header__first-list--intro {
		width: 100px;
	}

	.header__second {
		margin-top: 8px;
	}

	.size {
		margin: 0 5px;
	}

	.header-width {
		width: 130px;
	}

	.review-body__block--header {
		padding-left: 5px;
	}
	.review-body__block--header-next:before {
		left: -22px;
	}

	.review-body__block--header-back:after {
		right: -22px;
	}

	.review-body__block--slider-prev {
		left: 150px;
	}

	.review-body__block--slider-next {
		right: 150px;
	}

	.review-body__training {
		flex-direction: column;
	}

	.review-body__training--first {
		margin-left: auto;
		margin-right: auto;
		min-width: 100%;
	}

	.review-body__training--second-text-btn {
		left: 565px;
	}

	.review-body__training--second {
		margin-left: auto;
		margin-right: auto;
		min-width: 100%;
	}

	.review-body__block-card--bookmarks {
		min-width: 100%;
	}

	.review-body__block-card--video-img {
		width: 100%;
	}

	.review-body__block-card--buttons-green {
		padding: 15px;
	}

	.review-body__tape {
		overflow: visible;
	}

	.review-body__tape--tabs {
		flex-direction: column;
	}

	.review-body__tape--main {
		flex-direction: column;
		align-items: center;
	}

	.review-body__tape--main-sec {
		max-width: 340px;
		flex-direction: column;
	}


	.course-until-date {
		flex-direction: row;
	}

	.review-body__tape--main-span {
		margin: 8px 4px;
	}

	.review-body__tape--tabs-right-two {
		text-align: center;
		padding-bottom: 30px;
	}

	.review-body__tape--tabs-right-lists {
		padding-left: 0;
		padding-right: 0;
	}

	.review-body__tape--tabs-right-raiting {
		max-width: 300px;
		margin-left: auto;
		margin-right: auto;
	}

	.review-body__tape--tabs-right-raiting-prize-sec {
		top: 84px;
	}

	.review-body__tape--tabs-right-raiting-line {
		top: 113px;
	}

	.review-body__tape--tabs-content {
		min-width: 100%;
	}

	.review-body__block--header-link {
		padding: 20px 15px 20px 2px;
	}

	.review-body__club {
		flex-direction: column;
	}

	.review-body__club--first-content {
		min-width: 0;
		width: 100%;
	}

	.review-body__club--second-drop-link-family, .review-body__club--second-drop-link-age,
	.review-body__club--second-drop-link-city, .review-body__club--second-drop-link-child {
		background-position-x: 360px;
	}

	.club-filter__right {
		margin-top: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.club-filter__search {
		max-width: 300px;
		background-position-x: 260px;
	}

	.club-filter__select-width {
		margin-right: 15px !important;
		background-position-x: 144px;
	}

	.club-filter__select-width-sec {
		width: 55px;
		background-position-x: 38px;
	}

	.cabinet-statistic___content--select-main {
		margin-bottom: 15px !important;
		margin-right: 0 !important;
	}

	.homework_card--button-card-two:before {
		display: none;
	}

	.homework_card--buttons-sec {
		height: 60px;
	}

	.homework_card--block {
		padding-bottom: 85px;
	}

	.april-action__first--days-down-content {
		flex-direction: column;
	}

	.april-action__first--days-down-content:before {
		display: none;
	}

	.april-action__first {
		justify-content: flex-end;
	}

	.april-action__first--days-header {
		font-size: 60px;
		line-height: 75px;
	}

	.april-action__first--days-down-content-sec:after {
		left: 10px;
		top: 0px;
	}

	.april-action__second--intensive-first-img {
		display: none;
	}

	.april-action__third--lections {
		flex-direction: column;
		align-items: center;
	}

	.april-action__third--lection-first, .april-action__third--lection-second,
	.april-action__third--lection-third {
		min-width: 400px;
		text-align: center;
		&:before {
			display: none;
		}
	}

	.april-action__third--content {
		margin-left: auto;
		margin-right: auto;
		font-size: 19px;
	}

	.april-action__third--lections {
		margin-top: 15px;
	}

	.april-action__sixth {
		flex-direction: column;
		text-align: center;
		margin-top: 70px;
	}

	.april-action__sixth--tariff-third, .april-action__sixth--tariff-second {
		min-width: 300px;
		margin-top: 20px;
	}

	.april-action__second--intensive-first-header {
		font-size: 52px;
		margin-top: 25px;
	}

	.april-action__sixth--tariff-first-img {
		display: none;
	}

	.april-action__fifth--intensive:after {
		display: none;
	}

	.april-action__fifth--intensive-border-one:after {
		display: none;
	}

	.april-action__fifth--intensive-border-two:after {
		display: none;
	}

	.april-action__fifth--width {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	.april-action__fifth--intensive-header {
		font-size: 27px;
	}

	.april-action__fifth--intensive-content {
		font-size: 14px;
	}

	.april-action__fifth--intensive-sec {
		margin-top: 40px;
	}

	.april-action__fifth--intensive {
		margin-top: 40px;
	}

	.april-action__fourth {
		flex-direction: column;
		align-items: center;
		margin-bottom: 140px;
	}

	.april-action__fourth--links-two-third-rombs {
		flex-direction: column;
	}

	.april-action__fourth--links-one-second-romb {
		margin-top: 135px;
	}

	.april-action__fourth--links-one-third-romb {
		margin-top: -5px;
		margin-left: -95px;
	}

	.april-action__fourth--links-one-third-romb:before {
		left: -11px;
	}

	.april-action__fourth--links-one-fourth-romb {
		margin-top: -6px;
		margin-left: 180px;
	}

	.april-action__fourth--links-one-fifth-romb {
		margin-top: 21px;
		margin-left: -23px;
	}

	.april-action__fourth--links-one-third-rombs {
		justify-content: center;
	}

	.april-action__fourth--links-one-fifth-romb:before {
		left: -44px;
	}

	.april-action__fourth--links-two-first-romb {
		margin-top: 25px;
		margin-right: -60px;
	}

	.april-action__fourth--links-two-second-romb {
		margin-top: -40px;
		margin-left: -110px;
	}

	.april-action__fourth--links-two-third-romb {
		margin-top: 15px;
		margin-left: 100px;
	}

	.april-action__fourth--links-two-third-romb:before {
		left: -94px;
	}

	.april-action__fourth--links-two-fourth-romb {
		margin-top: -18px;
		margin-right: 130px;
	}

	.april-action__fourth--links-two-fourth-romb:before {
		left: -109px;
	}

	.april-action__fourth--links-two-fifth-romb {
		margin-top: 5px;
		margin-right: -95px;
	}

	.april-action__fourth--links-two-fifth-romb:before {
		left: 0px;
	}

	.april-action__fourth--links-three-first-romb {
		margin-top: -10px;
		margin-left: -190px;
	}

	.april-action__fourth--links-three-first-romb:before {
		left: 40px;
	}

	.april-action__fourth--links-three-second-romb {
		margin-top: 5px;
		margin-left: 77px;
	}

	.april-action__fourth--links-three-second-romb:before {
		left: -122px;
	}

	.april-action__fourth--links-three-third-romb {
		margin-top: 120px;
		margin-left: 35px;
	}

	.april-action__fourth--links-three-third-romb:before {
		left: -107px;
	}

	.april-action__fourth--links-three-fourth-romb {
		margin-top: -70px;
		margin-right: 150px;
	}

	.april-action__fourth--links-three-fourth-romb:before {
		left: -123px;
	}

	.april-action__fourth--links-three-fifth-romb {
		margin-top: -25px;
		margin-left: 74px;
	}

	.april-action__fourth--links-three-fourth-rombs {
		justify-content: center;
	}

	.banner__first--main {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.banner__first--first-half:before {
		left: -145px;
	}

	.banner__first--absolute-sec {
		right: 58px;
	}

	.banner__first--first-half {
		padding-right: 15px;
		align-items: center;
	}

	.banner__first--online-header {
		text-align: center;
	}

	.banner__first--button-take-part {
		margin-top: 10px;
	}

	.banner__first--second-half {
		align-items: center;
		padding-left: 15px;
	}

	.april-action__first--days-header {
		text-align: center;
		margin-bottom: 15px;
	}

	.banner__first--date-paragraph-sec {
		margin-top: 15px;
	}

	.banner__first {
		padding-bottom: 65px;
	}

	.april-action__third--rombs {
		display: block;
	}

	.april-action__fourth {
		display: none;
	}

	.april-action__third--star:before {
		display: none;
	}

	.april-action__third--star-content {
		text-align: left;
	}

	.april-action__third--star {
		display: flex;
		justify-content: center;
	}

	.april-action__fifth--back {
		padding-top: 0;
		padding-bottom: 0;
	}

	.book__add-menu--navbar-link {
		border-bottom: 0;
	}

	.book__stories--second-block {
		min-width: 100%;
	}

	.book-need-read__icons--first-block, .book-need-read__icons--second-block {
		flex-direction: column;
		align-items: center;
	}

	.book-need-read__icons {
		position: relative;
		top: -260px;
		background: $white;
	}

	.book-need-read {
		padding-top: 0;
	}

	.book-need-read__header {
		margin-top: -20px;
	}

	.book-need-read__info--paragraph:before {
		display: none;
	}

	.book-need-read:after {
		display: none;
	}

	.book-sliders__carousel-content--lists {
		left: 296px;
	}

	.book-sliders {
		overflow-x: hidden;
	}

	.book-sliders__carousel--img {
		max-height: 445px;
	}

	.book-sliders__carousel--right {
		right: -50px;
		top: 200px;
	}

	.book-sliders__carousel--left {
		left: -50px;
		top: 200px;
	}

	.book-sliders__carousel--lists {
		bottom: -5px;
	}

	.book-sliders__carousel-content--lists {
		left: 288px;
	}

	.book-sliders {
		min-height: 760px;
	}

	.book-sliders__carousel--cloud {
		display: none;
	}

	// meet page

	.meet-page__back-img {
		background-color: $white;
		min-height: 400px
	}

	.meet-page__footer--header:after, .meet-page__footer--header:before {
		display: none;
	}

	.content__blocks--products {
		flex-direction: column-reverse;
	}
}

@media only screen and(max-width: 806px) {
	.review-body__block--header {
		flex-direction: column;
		min-height: 200px;
		padding: 25px 0;
	}
}

@media (max-width: 768px) {
	.book-sliders__carousel--right, .book-sliders__carousel--left {
		display: none;
	}

	.choose-course__h3 {
		margin-top: 15px;
	}

	.law-head {
		flex-direction: column;
		text-align: center;
	}

	.review-body__block--header-more {
		margin-top: 23px;
	}
}

@media only screen and (max-width: 767px) {

	.april-action {
		background: url('../img/landing-april/back-land-sec.jpg') center no-repeat;
		background-size: cover;
		min-height: 3800px;
		overflow-x: hidden;
	}

	.april-action__first--days {
		position: relative;
		z-index: 4;
	}

	.second-landing__cards--arrows {
		left: 128px;
		top: 179px;
	}

	.second-landing__cards--lists {
		padding-left: 0;
	}

	.header__second-list--itemTwo {
		display: none;
	}
	.header__second-list--itemThree {
		margin-top: 5px;
		.itemThreeImg {
			margin-right: 30px;
		}
		&:before {
			top: 0;
		}
	}

	.padding-class {
		padding-left: 15px;
	}

	#sidebar-wrapper {
		left: 0;
		width: 100%;
		margin-top: 10px;
		padding-right: 0;
		padding-left: 0;
	}

	#sidebar-wrapper .sidebar-nav {
		min-width: 100%;
		position: static;
	}

	.main-content {
		min-width: 100%;
	}

	.main-content__list--first-item {
		margin-left: auto;
		margin-right: auto;
	}

	.main-content__header {
		margin-left: 0;
		justify-content: center;
	}

	.footer__first {
		flex-direction: column;
	}

	.footer__first--list {
		text-align: center;
	}
	.footer__first--list-sec {
		text-align: center;
		float: none;
	}
	.footer__header {
		text-align: center;
		padding-left: 0;
	}

	.footer__second {
		flex-direction: column;
		margin-top: 20px;
	}

	.footer__second--list {
		justify-content: space-between;
	}
	.footer__second--link {
		margin-right: 0;
	}
	.copyright {
		text-align: center;
		float: none;
	}
	.info {
		text-align: center;
	}
	.footer__second--list-sec {
		float: none;
		justify-content: space-between;
	}
	.footer__second--link-sec {
		margin-right: 0;
	}

	.header__second--search, .header__second--bell, .header__second--mail {
		font-size: 14px;
		margin: 0 5px;
	}

	.intro-content__second-block--email .form-control {
		padding-left: 65px;
	}

	.nav-item__hw-bell {
		display: none;
	}

	.sidebar-nav__homework {
		min-width: 100% !important;
	}

	.hw_sidebar-sec {
		min-width: 100%;
		padding-top: 25px;
	}

	.cards-tabs {
		flex-direction: column !important;
		align-items: center;
		margin-left: 0;
		font-size: 14px;
		.clients__row--link, .clients__row--link-sec {
			margin-right: 0;
		}

	}

	.meets-info-first__block-image {
		display: none;
	}

	.green-number {
		top: 18px;
		left: 330px;
	}

	.meets-info-second__blog {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		min-height: 400px;

		&--second {
			text-align: center;
		}
		&--header {
			justify-content: center;
		}
	}

	.meets-info-second__blog--first {
		margin-top: 25px;
		margin-bottom: 10px;
	}

	.meets-info-second__blog--data {
		display: flex;
		flex-direction: column;
	}

	.meets-info-second__blog--span {
		margin-top: 10px;
	}

	.meets-info-second__blog--header {
		margin-top: 0;
	}

	.meets-info-first {
		border-radius: 0;
	}

	// landing style

	.first-landing__paragraph {
		text-align: center;
	}

	.first-landing__header {
		font-size: 48px;
		text-align: center;
		margin: 0 auto;
		&:after {
			top: 27px;
			right: -6px;
		}
	}
	.line {
		margin: 15px auto;
	}

	.first-landing__paragraph-sec {
		text-align: center;
	}

	.first-landing__list-block--lists {
		flex-direction: column;
		align-items: center;
	}

	.first-landing__list-block--paragraph {
		margin-right: 0;
	}

	.first-landing__pay-block {
		flex-direction: column;
	}

	.first-landing__pay-block--button {
		margin-top: 80px;
	}

	.first-landing {
		min-height: 1200px;
	}

	.first-landing__paragraph {
		padding-top: 45px;
	}

	.third-landing__content--list-wings {
		left: 180px;
	}

	.third-landing__content--list-wings-sec {
		right: 180px;
	}

	.sixth-landing__block {
		margin: 0 auto;
		text-align: center;
	}

	.sixth-landing {
		min-height: 900px;
	}

	.second-landing__cards--arrows {
		display: none;
	}

	.header__second {
		left: 10px;
	}

	.choose-footer__content {
		margin-left: 0;
		justify-content: center;
	}

	.choose-course__first-blocks--lists {
		padding-left: 0;
	}
	.choose-course__second-blocks--list {
		margin-left: 10px;
	}

	.choose-course__nice-price {
		padding: 0;
	}

	.choose-footer__content--button {
		margin-left: 0;
		margin-top: 15px;
	}

	.choose-course__first-blocks--lists:after {
		display: none;
	}

	.choose-modal__close {
		right: -10px;
	}

	.review-body__block--header-back:after {
		right: -5px;
	}

	.review-body__block--header-img {
		display: none;
	}

	.review-body__block--header {
		padding-left: 7px;
	}

	.review-body__block--header-next:before {
		left: -5px;
	}

	.review-body__block--slider-prev {
		left: 60px;
	}

	.review-body__block--slider-next {
		right: 60px;
	}

	.review-body__training--second-text-btn {
		left: 385px;
	}

	.review-body__training--second-img {
		margin-top: 60px;
	}

	.review-body__training--first {
		padding-left: 25px;
	}

	.header-land {
		position: absolute;
		left: 60px;
	}

	.review-body__tape--roof-lists {
		display: none;
	}

	.review-body__tape--main-content {
		font-size: 20px;
		margin-top: 15px;
	}

	.review-body__tape--main-header {
		font-size: 20px;
	}

	.review-body__tape--tabs-panel-show-block-second {
		text-align: -webkit-center;
	}

	.review-body__block--button {
		margin-top: 10px;
	}

	.review-body__block--header-link {
		padding: 20px 15px 20px 13px;
	}

	.club-filter__link {
		flex-direction: column;
	}

	.club-filter__round {
		margin-bottom: 15px;
	}

	.club-filter__choose {
		margin-top: 15px;
	}

	.cabinet-statistic___content--line {
		display: none;
	}

	.cabinet-statistic___content--first {
		flex-direction: column;
		align-items: center;
	}

	.cabinet-statistic___content--first-txt {
		text-align: center;
		margin-bottom: 0;
	}

	.cabinet-statistic___content--second-stay:before {
		display: none;
	}

	.cabinet-statistic___content--statistic {
		flex-direction: column;
	}

	.cabinet-statistic___content--right-card {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.cabinet-statistic___content--approve {
		height: 10px;
	}

	.homework_card--block {
		padding-left: 0;
	}

	.meet-club__main--meet-block {
		min-width: 100%;
		overflow: hidden;
	}

	.meet-club__main--meet-label span {
		margin-right: 0;
		min-width: 18px;
	}

	.meet-club__main--meet-content {
		padding-left: 10px;
	}

	.april-action__first--days-down-content {
		border: none;
	}

	.april-action__second {
		flex-direction: column;
		align-items: center;
		margin-top: 0;
	}

	.april-action__second--intensive-first-header {
		text-align: center;
		font-size: 48px;
		max-width: 300px;
	}

	.april-action__second--intensive-second, .april-action__second--intensive-third {
		min-width: 400px;
		text-align: center;
	}

	.april-action__second--intensive-first {
		justify-content: center;
	}

	.april-action__sixth--tariff-first {
		min-width: 300px;
	}

	.april-action__fifth--intensive, .april-action__fifth--intensive-sec {
		flex-direction: column;
		align-items: center;
	}

	.april-action__fifth--intensive-first {
		min-width: 320px;
		text-align: center;
		margin-bottom: 15px;
	}

	.banner__first--first-half:before {
		display: none;
	}

	.april-action__fourth--links-one-first-romb:before {
		left: -122px;
		top: -115px;
	}

	.april-action__fourth--links-one-second-romb {
		margin-top: 162px;
	}

	.april-action__fourth--links-one-third-romb:before {
		left: -3px;
	}

	.april-action__fourth--links-one-third-romb {
		margin-top: -8px;
		margin-left: -165px;
	}

	.april-action__fourth--links-one-fourth-romb {
		margin-top: -44px;
	}

	.april-action__fourth--links-one-fifth-romb {
		margin-top: 21px;
		margin-left: -50px;
	}

	.april-action__fourth--links-one-fifth-romb:before {
		left: -56px;
		top: -116px;
	}

	.april-action__fourth--links-two-first-romb {
		margin-top: 19px;
		margin-right: -79px;
	}

	.april-action__fourth--links-two-second-romb {
		margin-top: -42px;
		margin-left: -130px;
	}

	.april-action__fourth--links-two-third-romb {
		margin-top: 16px;
		margin-left: 83px;
	}

	.april-action__fourth--links-two-third-romb:before {
		left: -114px;
		top: -94px;
	}

	.april-action__fourth--links-two-fourth-romb {
		margin-top: -20px;
		margin-right: 145px;
	}

	.april-action__fourth--links-two-fourth-romb:before {
		left: -145px;
		top: -103px;
	}

	.april-action__fourth--links-two-fifth-romb:before {
		left: -27px;
	}

	.april-action__fourth--links-two-fifth-romb {
		margin-top: -7px;
		margin-right: -95px;
	}

	.april-action__fourth--links-three-first-romb:before {
		left: 14px;
	}

	.april-action__fourth--links-three-first-romb {
		margin-top: 1px;
	}

	.april-action__fourth--links-three-second-romb {
		margin-top: 0px;
		margin-left: 61px;
	}

	.april-action__fourth--links-three-fourth-romb:before {
		left: -154px;
	}

	.april-action__fourth--links-three-fourth-romb {
		margin-top: -91px;
		margin-right: 150px;
	}

	.april-action__fourth--links-three-third-romb {
		margin-top: 111px;
		margin-left: 35px;
	}

	.april-action__first--days-header {
		margin-left: auto;
		margin-right: auto;
	}

	.april-action__first--dashed {
		background: url('../img/landing-april/back-rectangle.png') 5px -7px no-repeat;
		background-size: cover;
	}

	.april-action__learn--first-header, .april-action__learn--second-header {
		text-align: center;
		font-size: 30px;
	}

	.april-action__tomatoes {
		margin: 30px auto;
		background-size: cover;
	}

	.book__add-menu--navbar {
		flex-direction: column;
		text-align: center;
	}

	.book__add-menu--trash-content {
		border: 0;
	}

	.book__stories--price-block {
		flex-direction: column;
	}

	.book__stories--price-btn {
		margin-top: 25px;
	}

	.book-need-read__icons {
		padding: 15px;
		top: -40px
	}

	.book-sliders__carousel-content--lists {
		left: 111px;
	}

	.how-say__content--first {
		padding-top: 40px;
		display: flex;
		justify-content: center;
	}

	.how-say__content--second {
		padding-left: 15px;
	}

	.video-book--content {
		font-size: 30px;
	}

	.how-say__content--img-absolute {
		display: none;
	}

	.first-landing__pay-block--button {
		flex-direction: column;
	}

	.first-landing__pay-block--price-up {
		.april-action__first--days-down-content {
			margin-top: 15px;
		}
	}

	.meet-page__back-img {
		background-size: contain;
		min-height: 265px;
	}


	.banner__first--absolute-sec {
		display: none;
	}

	.banner__courses--right {
		right: -22px;
		top: 175px;
	}

	.choose-course__economy-lists {
		flex-direction: column;
		align-items: center;
	}



	.gift-padding {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	.meets-info-first__border-img {
		display: none;
	}

}

@media only screen and (max-width: 700px) {
	.banner__first--absolute {
		display: none;
	}
	.banner__first--absolute-third {
		display: none;
	}

	.book__stories--second-content-third:after, .book__stories--second-content-third:before {
		display: none;
	}
}

@media only screen and (max-width: 575px) {

	.second-landing__cards--arrows {
		display: none;
	}

	.header__second {
		position: relative;
		width: 240px;
		left: -13px;
	}

	#sidebar-wrapper {
		padding-right: 15px;
	}

	.padding-class {
		padding-right: 15px;
	}

	.intro-item {
		margin-left: 7px;
		.rounded-circle {
			margin-right: 10px;
		}
	}

	.intro-content__second-block--paragraph:before {
		display: none;
	}

	.intro-content__second-block--paragraph:after {
		display: none;
	}

	.meets-info-second__blog {
		padding: 0 15px;
	}

	.green-number {
		position: inherit;
		display: inline-flex;
	}

	// landing-page

	.first-landing__header {
		font-size: 38px;
		&:after {
			display: none;
		}
	}

	.third-landing__content--list-wings {
		display: none;
	}

	.third-landing__content--list-wings-sec {
		display: none;
	}

	.fifth-landing__content {
		margin-top: 40px;
	}

	.sixth-landing__header {
		font-size: 32px;
	}

	#fp-nav {
		display: none !important;
	}

	.choose-footer__content {
		flex-direction: column;
	}

	.choose-footer__content--img {
		margin: 10px;
	}

	.choose-footer {
		padding: 30px 0;
	}

	.choose-modal__content {
		background-size: 100% 100%;
	}

	.choose-modal__content .choose-modal__header .modal-dialog__learn-block--first {
		min-width: 300px;
	}

	.modal-dialog__learn-block {
		margin: 0 auto;
		overflow-x: hidden;
	}
	.labels-check {
		left: 30%;
	}

	.choose-modal__content .choose-modal__back {
		background-size: 100% 100%;
	}

	.choose-modal__content .choose-modal__header {
		background-size: 100% 100%;
	}

	.modal-dialog__learn-block--line {
		width: 100%;
	}

	.modal-body__check--link:after {
		display: none;
	}

	.choose-modal__footer {
		flex-wrap: wrap;
	}

	.review-body__block--header-link {
		margin: 0 5px;
	}

	.review-body__block--header-next:before {
		display: none;
	}

	.review-body__block--header-back:after {
		display: none;
	}

	.review-body__training--second-text-btn {
		left: 80%;
	}

	.review-body__training--second-img {
		margin-top: 80px;
	}

	.header-land {
		position: relative;
		width: 240px;
		left: 35px;
	}

	.review-body__tape--tabs-panel-list-link {
		flex-direction: column;
		justify-content: center;
	}

	.review-body__tape--tabs-panel-list-block {
		text-align: center;
	}

	.review-body__tape--tabs-panel-text-minutes {
		margin-left: auto;
		margin-right: auto;
	}

	.main-content__list--first-item:before {
		display: none;
	}

	.review-body__tape--main-first {
		flex-direction: column;
	}

	.review-body__tape--main-content {
		margin-left: 0;
		padding: 5px;
	}

	.review-body__tape--tabs-panel-watched:before {
		top: 149px;
	}

	.review-body__block-card--buttons-content {
		font-size: 18px;
	}

	.review-body__club--img {
		display: none;
	}

	.review-body__club--second-drop-link-family, .review-body__club--second-drop-link-age,
	.review-body__club--second-drop-link-city, .review-body__club--second-drop-link-child {
		background-position-x: 330px;
	}

	.club-filter__select-width {
		margin-right: 10px !important;
		background-position-x: 144px;
	}

	.club-filter__select-width-sec {
		width: 55px;
		background-position-x: 38px;
	}

	.cabinet-statistic___content--second {
		flex-direction: column;
		text-align: center;
	}

	.cabinet-statistic___content--was-second, .cabinet-statistic___content--stay-sec {
		max-width: 100%;
	}

	.cabinet-statistic___content--was-first {
		padding-right: 0;
	}

	.cabinet-statistic___content--second-was {
		padding-right: 0;
	}

	.cabinet-statistic___content--second-stay {
		padding-left: 0;
	}

	.cabinet-statistic___content--approve {
		margin-top: -6px;
	}

	.modal__girl--close {
		right: 2px;
	}

	.modal__girl--content {
		top: 35px;
	}

	.modal__girl--main-paragraph {
		text-align: center;
	}

	.homework_card--inner-padding {
		padding: 0 15px;
	}

	.april-action__second--intensive-second, .april-action__second--intensive-third {
		min-width: 100%;
	}

	.april-action__second--intensive-first-header {
		margin-left: auto;
		margin-right: auto;
	}

	.april-action__sixth--tariff-second-block, .april-action__sixth--tariff-third-block {
		max-width: 320px;
		margin-left: auto;
		margin-right: auto;
	}

	.april-action__fifth--intensive-header, .april-action__fifth--intensive-content {
		margin-left: auto;
		margin-right: auto;
	}

	.april-action__modal--dialog {
		margin-left: auto;
		margin-right: auto;
	}

	.banner__first--absolute-sec {
		display: none;
	}

	.april-action__fourth--links-one-first-rombs {
		justify-content: center;
	}

	.april-action__fourth--links-one-first-romb:before {
		left: -91px;
	}
	.april-action__fourth--links-one-second-romb {
		margin-top: 130px;
	}

	.april-action__fourth--links-one-third-romb:before {
		left: 146px;
	}

	.april-action__fourth--links-one-third-romb {
		margin-top: -24px;
		margin-left: -141px;
	}

	.april-action__fourth--links-one-fifth-romb:before {
		left: 101px;
		top: -116px;
	}

	.april-action__fourth--links-one-fifth-romb {
		margin-top: 30px;
		margin-left: -50px;
	}

	.april-action__fourth--links-two-first-rombs {
		justify-content: center;
	}

	.april-action__fourth--links-two-first-romb {
		margin-top: 19px;
		margin-right: -182px;
	}

	.april-action__fourth--links-two-third-romb:before {
		left: 40px;
		top: -94px;
	}

	.april-action__fourth--links-two-third-romb {
		margin-top: 16px;
		margin-left: 96px;
	}

	.april-action__fourth--links-two-fourth-romb:before {
		left: 5px;
		top: -103px;
	}

	.april-action__fourth--links-two-fourth-romb {
		margin-top: -35px;
		margin-right: 145px;
	}

	.april-action__fourth--links-two-fifth-romb:before {
		left: 120px;
	}

	.april-action__fourth--links-two-fifth-romb {
		margin-top: 3px;
		margin-right: -76px;
	}

	.april-action__fourth--links-three-first-romb:before {
		left: 168px;
	}

	.april-action__fourth--links-three-second-rombs {
		justify-content: center;
	}

	.april-action__fourth--links-three-second-romb {
		margin-top: 15px;
		margin-left: 125px;
	}

	.april-action__fourth--links-three-second-romb:before {
		left: -93px;
		top: -126px;
	}

	.april-action__fourth--links-three-fourth-romb:before {
		left: -4px;
	}

	.april-action__fourth--links-three-third-romb {
		margin-top: 111px;
		margin-left: 9px;
	}

	.april-action__fourth--links-three-fifth-romb:before {
		top: -111px;
	}

	.april-action {
		background: url("../img/landing-april/mobile-back.jpg") center no-repeat;
		background-size: cover;
	}

	.april-action__first--days-up-content {
		margin: 430px auto 40px auto;
	}

	.banner__first--online-paragraph {
		margin: 15px auto 10px auto;
	}

	.banner__first {
		overflow: hidden;
	}

	.book-sliders__header {
		text-align: center;
		font-size: 40px;
	}

	.book-sliders__content {
		text-align: center;
		font-size: 30px;
	}

	.book-sliders__carousel-content--lists {
		position: absolute;
		left: 35%;
		top: 120%;
		transform: translate(-50%, -50%);
	}

	.book-sliders__carousel-content--paragraph {
		margin-right: 0;
	}
	.book-sliders__carousel-content--item {
		justify-content: center;
	}

	.book-sliders__carousel-content {
		margin-top: 40px;
	}

	.meet-page__back-img {
		background-size: contain;
		min-height: 283px;
	}

	.law-modal-box {
		margin: 40px auto;
		width: 310px;
	}

	.law-modal__form {
		padding: 10px 3px;
	}

	.law-modal__form-head {
		font-size: 20px;
	}

	.law-inform__text-fifth {
		top: 110px;
		left: 91px;
	}

	.law-inform__text-sixth {
		top: 212px;
		left: 53px;
	}

}

@media (max-width: 564px) {
	.april-action__fourth--links-one-third-romb:before {
		left: -110px;
	}

	.april-action__fourth--links-one-second-rombs {
		display: flex;
		justify-content: center;
	}

	.april-action__fourth--links-one-fourth-rombs, .april-action__fourth--links-two-fourth-rombs,
	.april-action__fourth--links-three-first-rombs, .april-action__fourth--links-three-third-rombs {
		display: flex;
		justify-content: center;
	}

	.april-action__fourth--links-one-fifth-romb:before {
		left: -107px;
		top: -116px;
	}

	.april-action__fourth--links-two-third-rombs {
		align-items: center;
	}

	.april-action__fourth--links-two-fourth-romb:before {
		left: -109px;
		top: -103px;
	}

	.april-action__fourth--links-two-third-romb:before {
		left: -100px;
		top: -94px;
	}

	.april-action__fourth--links-two-fifth-romb:before {
		left: -129px;
	}

	.april-action__fourth--links-three-first-romb:before {
		left: -112px;
	}

	.april-action__fourth--links-three-fourth-romb:before {
		left: -109px;
		top: -110px;
	}

	.april-action__fourth--links-three-second-romb {
		margin-top: -20px;
		margin-left: 118px;
		max-width: 122px;
	}

	.april-action__fourth--links-three-third-romb {
		margin-top: 115px;
		margin-left: 9px;
	}

	.april-action__fourth--links-three-second-romb:before {
		left: -93px;
		top: -95px;
	}

	.april-action__third--lection-first, .april-action__third--lection-second, .april-action__third--lection-third {
		min-width: 100%;
	}

	.april-action__first--lections {
		align-items: center;
	}

	.april-action__first--lections p {
		display: flex;
		flex-basis: 50%;
	}

	.april-action__first--dashed {
		background: url('../img/landing-april/back-rectangle.png') 5px -7px no-repeat;
		background-size: 100% 100px;
	}

	.footer-book--img {
		position: relative;
		img {
			width: 100%;
		}
	}


	.meet-page__back-img {
		background-size: 100% 100%;
		min-height: 250px;
	}


	.main-book-shop-img {
		width: 100%;
	}

	.sixth-landing {
		background-position: -17px center;
	}

}

@media (max-width: 472px) {
	.meets-info-second__approwe-img {
		display: none;
	}
	.meets-info-second__approwe {
		padding-left: 15px;
	}

	.meets-info-first__block-img-sec {
		flex-direction: column;
	}

	.meets-info-first {
		padding: 15px;
	}

	.meets-info-second__blog {
		min-height: 500px;
		&--header {
			font-size: 20px;
		}
	}

	.first-landing {
		padding-top: 60px;
	}

	.modal-dialog__learn-block--first {
		flex-wrap: wrap;
		justify-content: center !important;
	}

	.review-body__block--slider-prev {
		left: 15px;
	}

	.review-body__block--slider-next {
		right: 15px;
	}

	.review-body__block-card--video {
		padding-left: 0;
		padding-right: 0;
	}

	.review-body__tape--tabs-panel {
		padding: 40px 20px;
	}

	.review-body__tape--tabs-panel-header {
		font-size: 22px;
	}

	.review-body__club--second-drop-link-family, .review-body__club--second-drop-link-age,
	.review-body__club--second-drop-link-city, .review-body__club--second-drop-link-child {
		background-position-x: 300px;
	}

	.club-filter__select-width {
		margin-right: 10px !important;
		background-position-x: 144px;
	}

	.club-filter__select-width-sec {
		width: 55px;
		background-position-x: 38px;
	}

	.cabinet-statistic___content--selects {
		flex-direction: column;
	}

	.cabinet-statistic___content--select-one, .cabinet-statistic___content--select-two, .cabinet-statistic___content--select-main {
		background-color: $white !important;
	}

	.book-sliders__carousel--img {
		max-height: 270px;
	}

	.book-sliders__carousel--lists {
		bottom: -30px;
	}

	.book-sliders__carousel {
		margin-top: 50px;
	}

	.book-sliders {
		min-height: 600px;
	}

	.choose-course__economy-list {
		width: 100%;
	}

	.manipulation-nine-item__heading {
		font-size: 26px;
	}

}

@media only screen and (max-width: 445px) {
	.choose-modal__footer {
		justify-content: center !important;
	}

	.labels-check {
		top: 1100px;
		left: 25%;
	}

	.choose-modal__footer--paypal {
		margin-left: 0 !important;
		margin: 10px 0;
	}

	.review-body__block--buttons {
		display: flex;
		flex-direction: column;
	}

	.review-body__block--button {
		max-width: 250px;
		margin: 5px auto;
	}

	.review-body__club--second-drop-link-family, .review-body__club--second-drop-link-age,
	.review-body__club--second-drop-link-city, .review-body__club--second-drop-link-child {
		background: none;
	}

	.club-filter__select-width {
		margin-right: 10px !important;
		background: url(../img/club/arrow.png) right no-repeat;
		background-position-x: 144px;
	}

	.club-filter__select-width-sec {
		width: 55px;
		background: url(../img/club/arrow.png) right no-repeat;
		background-position-x: 38px;
	}

	.april-action__first--mila-photo {
		top: 200px;
	}

	.how-say__content--header {
		font-size: 30px;
	}

	.video-book--video {
		min-height: 100%;
	}

	.book-need-read__info--larisa-label {
		width: 100%;
	}

	.book__stories--image {
		max-height: 100%;
		min-height: 100%;
		margin-bottom: 25px;
	}

	.right-photo {
		width: 100% !important;
	}

}

@media only screen and (max-width: 425px) {

	.intro-content__header:before {
		display: none;
	}
	.intro-content__header:after {
		display: none;
	}

	.intro-content__header {
		font-size: 20px;
	}
	.intro-content__header-first {
		font-size: 34px;
	}

	.intro-content__play-link .intro-content__play-link--paragraph {
		font-size: 12px;
	}

	.intro-content__play-link .intro-content__play-link--paragraph-sec {
		font-size: 18px;
	}

	.intro-content__header-first--add {
		font-size: 42px;
	}

	.review-body__block--slider-header {
		font-size: 18px;
	}

	.review-body__block--header-link {
		font-size: 9px;
	}

	.review-body__training--second-text-btn {
		left: 70%;
	}

	.homework_card--buttons {
		flex-direction: column;
		align-items: center;
	}

	.homework_card--button-sec {
		margin-top: 15px;
	}

	.homework_card--buttons-sec {
		flex-direction: column;
	}
}

@media only screen and (max-width: 409px) {
	.labels-check {
		top: 1200px;
		left: 20%;
	}

	.meet-page__back-img {
		background-size: 100% 100%;
		min-height: 200px;
	}
}

@media only screen and (max-width: 390px) {

	.modal-body__form--content {
		width: 270px !important;
	}
}

@media only screen and (max-width: 381px) {
	.main-content__tabs {
		display: flex;
		flex-direction: column;
	}
	.main-content__header {
		flex-direction: column;
		align-items: center;
	}

	.intro-content__paragraph-dotted {
		font-size: 24px;
	}
	.intro-content__paragraph-opacity {
		font-size: 31px;
	}

	.intro-content__second-block--header {
		font-size: 22px;
	}

	.intro-content__second-block--email .form-control {
		padding-left: 44px;
	}

	.review-body__training--second-img {
		margin-top: 117px;
	}

	.review-body__training--second-paragraph-sec {
		text-align: center;
	}

	.april-action {
		background: url(../img/landing-april/mobile-back.jpg) center no-repeat;
		background-size: cover;
	}
}

@media (max-width: 356px) {
	.review-body__training--second-img {
		margin-top: 144px;
	}

	.club-chat__block {
		justify-content: center;
	}

	.april-action__fourth--links-three-second-romb:before {
		left: -116px;
	}
}

@media (max-width: 320px) {
	.header__second {
		left: 0;
	}

	.review-high {
		margin-top: 0;
	}
}

@media (max-height: 2000px) {
	.content {
		background-image: none;
	}
}
