@import "vars";

@media only screen and (max-width: 1230px) {
	.package-content__inline {
		flex-direction: column;
		align-items: center;
	}

	.buttons-inline__block {
		display: flex;
		justify-content: center;
	}

	.buttons-inline {
		margin-top: 30px;
	}

	.package-content__media {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.package-content__package {
		margin-top: 0px;
	}

	.package-content__books {
		flex-direction: row;
		margin-top: 15px;
	}
}

@media only screen and (max-width: 1223px) {

	.package-content__block-input {
		flex-direction: column;
	}

}

@media only screen and (max-width: 1140px) {
	.package-content__form-first {
		max-height: 100%;
		display: flex;
		justify-content: center;
	}

	.package-content__large-books {
		flex-direction: column;
		align-items: center;
	}

	.package-content__large-books--item {
		.line {
			display: none;
		}
	}

}

@media only screen and (max-width: 920px) {
	.package-content__button-list, .package-content__button-list-sec {
		flex-direction: column;
		text-align: center;
	}
}

@media (max-width: 855px) {

	.buttons-inline__block {
		display: flex;
		flex-direction: column;
	}
	.buttons-inline__button {
		text-align: center;
		width: 225px;
		margin: 15px auto;
	}
}

@media only screen and (max-width: 768px) {
	.package-content__button-list-sec {
		float: none;
	}
}

@media only screen and (max-width: 575px) {
	.package-content__label {
		margin: 10px auto;
	}
}


