// OUTER SELECTORS
@import "vars";
.modal.courier .modal-header {
  display: none;
}
.modal.courier .modal-body{
  padding: 0;
}
//---
.modal-delivery{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  &-text--rose{
    color: #e61877;
    font-size: 14px;
  }

  &--margin-bottom-none{
    margin-bottom: 0;
  }

  &__btnClose{
    position: absolute;
    right: -30px;
    top: -35px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    background: none;
    border:none;
    &:focus{
      outline: none;
    }
  }

  &__checkbox{
    display: none;
    &:checked ~ .modal-delivery-second__form-label:after{
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      //background: #ebebeb;
      background: #7062d2;
      position: absolute;
      top: 7px;
      left: 5px;
    }
  }

  // MODAL-DELIVERY-FIRST
  &-first{
    flex-basis: 50%;
    min-width: 320px;
    flex-grow: 1;
    background: #f8f8f8;
    &__head{
      min-height: 80px;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    &__nav{
      border: 2px solid #dad7f0;
      background-color: #f3f2f6;
      border-radius: 19px;
      min-width: 123px;
      min-height: 37px;
      font-family: "GothamPro";
      font-size: 11px;
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      .active {
        background-color: #7062d2;
        color: $white;
        padding: 13px 14px;
        border-radius: 19px;
        box-shadow: 0 3px 10px rgba(112, 98, 210, 0.63);
        &:hover {
          text-decoration: none;
          opacity: 0.8;
          color: $white;
        }
        &:focus {
          text-decoration: none;
          opacity: 0.8;
          color: $white;
        }
        &:active {
          text-decoration: none;
          opacity: 0.8;
          color: $white;
        }
      }
      &--default {
        color: #504c53;
        padding: 0 13px;
        &:hover {
          text-decoration: none;
          color: #504c53;
          opacity: 0.8;
        }
      }
    }

    &__center{
      &-map-wrap{
        height: 385px;
      }
    }
    &__foot{
      padding: 30px 30px 30px;
    }
    &__address{
      display: flex;
      flex-wrap: wrap;
      &-first{
        flex-basis: 65%;
        min-width: 225px;
      }
    }
  }
  //  MODAL-DELIVERY-SECOND
  &-second{
    flex-basis: 50%;
    min-width: 320px;
    flex-grow: 1;
    padding: 56px 35px 35px;
    &__form{
      color: #464445;

      &-title{
        font-family: "GothamPro";
        font-size: 13px;
        line-height: 18px;
        border-bottom: 2px solid #f5f5f9;
        padding-bottom: 5px;
      }
      &-label{
        font-size: 14px;
        cursor: pointer;
        padding-left: 30px;
        position: relative;
        &:before{
          content: "";
          display: inline-block;
          width: 20px;
          height: 20px;
          border: 2px solid #ebebeb;
          position: absolute;
          top: 2px;
          left: 0px;
        }
        //&:after{
        //  content: "";
        //  display: inline-block;
        //  width: 10px;
        //  height: 10px;
        //  //border: 2px solid #ebebeb;
        //  background: #ebebeb;
        //  position: absolute;
        //  top: 7px;
        //  left: 5px;
        //}
      }
      &-places{
        list-style: none;
        padding: 0;
      }
      &-place{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: 13px;
        &-left{
          flex-basis: 33%;
          min-width: 120px;
        }
        &-center{
          flex-basis: 33%;
          min-width: 120px;
        }
        &-right{
          min-width: 65px;
        }
      }

      &-pays{
        display: flex;
        list-style: none;
        padding: 0;
      }
      &-pay{
        flex-basis: 33%;
        min-width: 132px;
      }

      &-days{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style: none;
        padding: 0;
      }
      &-day{
        //flex-basis: 33%;
        //min-width: 132px;
      }
      &-submit{
        cursor: pointer;
        font-family: "GothamPro-Medium";
        font-size: 12px;
        color: white;
        background: #57b456;
        border: none;
        padding: 12px 24px;
        border-radius: 4px;
        box-shadow: 3px 3px 10px rgba(87,180,86,0.63);
        &:hover{
          opacity: 0.75;
        }
      }
    }
  }
}
@media (max-width:414px) {
  .modal-delivery-first, modal-delivery-second{
    min-width: 200px;
  }
}
@media (max-width:320px) {
  .modal-delivery-second__form-days{
    flex-direction: column;
  }
}
