$s4t_clrBtnPurpur: #ff6699;
$s4t_clrBtnDarkBlue: #6633cc;
$s4t_clrBtnDarkBlue2: #9966cc;

.modal-meeting {
  min-height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
}

.modal_meetingFriendPlus {
  background: url("../img/modal_meetingFriendsPlus/bgModalMeetingFrindsPlus.png") no-repeat center;
  background-size: cover;
}

.modal-dialog {
  max-width: 840px !important;
}

.modal-meetingPhotos {
  margin: 100px auto;
  padding: 25px 36px 50px;
  background: $white;
  border-radius: 3px;
  display: inline-flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;

  &__h4 {
    display: block;
    width: 100%;
    text-align: center;
    font-family: "Wes";
    font-size: 30px;
    line-height: 39px;
    color: white;
    position: absolute;
    top: -55px;
    left: 0;
  }
  &__btnClose {
    position: absolute;
    right: -18px;
    top: -18px;
    cursor: pointer;
    border: 0;
    width: 36px;
    height: 36px;
    background: url("../img/modal_meetingFriendsPlus/btnClose.png") no-repeat center;
  }

  &__item {
    max-width: 236px;
    margin: 11px 8px;
    position: relative;
    &--description {
      display: none;
      background: $s4t_clrBtnPurpur;
      font-family: "GothamPro";
      font-size: 12px;
      line-height: 18px;
      color: $white;
      position: absolute;
      min-width: 100%;
      top: -83px;
      left: 10%;
      padding: 20px;
      //TO DO SHADOW
      &:after{
        font-family: "FontAwesome";
        content: "\f0d7";
        color: $s4t_clrBtnPurpur;
        position: absolute;
        bottom: -12px;
        font-size: 26px;
        left: 26px;
      }
    }
    &__img {
      width: 236px;
      height: 155px;
      cursor: pointer;
      border: 6px solid cadetblue;
      // TO DO BORDER COLOR
      border-radius: 2px;
      margin-bottom: 5px;
    }
    &__btn {
      position: relative;
      width: 100%;
      border: 0;
      padding: 0;
      background: $s4t_clrBtnDarkBlue;
      border-radius: 2px;
      font-family: "Gotham Pro";
      font-size: 13px;
      line-height: 46px;
      color: $white;
      padding-right: 60px;
      //TO DO SHADOW
      &:before {
        font-family: "FontAwesome";
        content: "\f041";
        margin-right: 13px;
      }
      &:after {
        content: url("../img/modal_meetingFriendsPlus/btnArrowRight.png");
        height: 100%;
        width: 60px;
        position: absolute;
        right: 0;
        background: $s4t_clrBtnDarkBlue2;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        margin-left: 37px;
      }
    }
  }

  &__btnDownLoad {
    //height: 48px;
    font-family: "GothamPro-Medium";
    font-size: 12px;
    line-height: 48px;
    color: $white;
    padding: 5px 32px;
    background: $s4t_clrBtnPurpur;
    border: 0;
    border-radius: 2px;
    //TO DO SHADOW
    position: absolute;
    left: 50%;
    margin-left: -96px;
    bottom: -85px;
    &::before {
      content: url("../img/modal_meetingFriendsPlus/arrowDownLoad.png");
      margin-right: 7px;
    }
  }
}

@media (max-width: 827px) {
  .modal-meetingPhotos {
    justify-content: space-around;
  }
}

.modal-meetingPhotos__item__img:hover + .modal-meetingPhotos__item--description {
  display: block;
}

