.skills-first {
  background: white;
  display: flex;
  flex-wrap: wrap;
  &__buttons {
    flex-grow: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
  }
  &__btn {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "GothamPro-Bold";
    font-size: 10.44px;
    color: white;
    text-transform: uppercase;
    padding: 15px 25px;
    margin: 10px 0px;
    &--me {
      background: #cccccc;
    }
    &--find {
      background: #ff3399;
      &:before {
        margin-right: 10px;
        position: relative;
        top: 2px;
        content: url("../img/skills/decor-btn-search.png");
      }
    }
    &--call {
      background: #9966ff;
      &:before {
        margin-right: 10px;
        position: relative;
        top: 2px;
        content: url("../img/skills/decor-btn-phone.png");
      }
    }
    &:hover {
      opacity: 0.8;
    }
    &:focus {
      outline: none;
    }
  }
}

.skills-sec {
  background: white;
  padding: 30px;
  margin-top: 25px;

  &__title {
    font-family: "GothamPro";
    font-size: 20px;
    margin-bottom: 15px;
  }
  &__text {
    font-family: "GothamPro";
    font-size: 16px;
    margin: 0;
  }
  &__items {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    flex-basis: 175px;
    min-width: 175px;

    margin: 35px 20px;
    &-img {
      margin-bottom: 9px;
    }

    &-text {
      font-family: "GothamPro";
      font-size: 14px;
    }

    &-btn {
      background: #efe9f0;
      border: none;
      border-radius: 2px;
      cursor: pointer;
      padding: 8px 35px;
      font-family: "GothamPro";

      &:focus {
        outline: none;
      }
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.skills-offers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills-offer {

  min-width: 250px;
  flex-basis: 32%;

  text-align: center;
  padding: 35px 0;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &:hover {
    text-decoration: none;
  }
  &__img {
    &-set {
      max-width: calc(100% - 4%);
    }
    &-book {
      max-width: calc(100% - 4%);
    }
    &-diary {
      max-width: calc(100% - 5%);
    }
  }
  &__text {
    margin: 20px 0 0;
    font-family: "GothamPro-Bold";
    color: white;
    font-size: 14px;
    text-transform: uppercase;
  }
  &--blue {
    background: #6666cc;
  }
  &--rose {
    background: #cc3366;
  }
}

@media (max-width: 1199px) {
  .skills-first{
    padding-top: 20px;
  }
}
@media (max-width: 1200px) {
  .skills-first {
    justify-content: space-evenly;
  }

  .skills-sec__items {
    justify-content: space-evenly;
  }
  .skills-offers {
    justify-content: space-evenly;
  }
}