.taplink301218-nav{
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  padding: 30px;
  max-width: 800px;
  box-sizing: border-box;
}

.taplink301218{
  &--text-rose{
    color: #ffccdf;
  }
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-family: "GothamPro-Bold";
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.48px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0px 60px ;
  min-height: 140px;
  max-width: 740px;
  margin-bottom: 10px;
  transition: 500ms;
  border-radius: 5px;

  &-img{
    margin-right: 30px;
    position: relative;
  }
  &:hover{
    opacity: 0.80;
  }

  &--gifts{
    background: #8958cb url("../img/taplink301218/back/gifts.jpg") no-repeat center;
    background-size: 100% 100%;
    border-bottom: 8px solid #6b42a2;
    .taplink301218-img{
      bottom: 10px;
    }
  }

  &--course-step1{
    background: #8958cb url("../img/taplink301218/back/course-step1.jpg") no-repeat center;
    background-size: 100% 100%;
    border-bottom: 8px solid #6b42a2;
    .taplink301218-img{
      bottom: 5px;
    }
  }

  &--course-step2{
    background: #8958cb url("../img/taplink301218/back/course-step2.jpg") no-repeat center;
    background-size: 100% 100%;
    border-bottom: 8px solid #6b42a2;
    .taplink301218-img{
      bottom: 5px;
    }
  }

  &--book-dignity{
    background: #8958cb url("../img/taplink301218/back/book-dignity.jpg") no-repeat center;
    background-size: 100% 100%;
    border-bottom: 8px solid #6b42a2;
  }

  &--book-dating{
    background: #8958cb url("../img/taplink301218/back/book-dating.jpg") no-repeat center;
    background-size: 100% 100%;
    border-bottom: 8px solid #6b42a2;
  }

  &--antimanipulation{
    background: #f395ab url("../img/taplink301218/back/antimanipulation.jpg") no-repeat center;
    background-size: 100% 100%;
    border-bottom: 8px solid #c6697f;
  }

  &--youtube{
    background: #f395ab url("../img/taplink301218/back/youtube.jpg") no-repeat center;
    background-size: 100% 100%;
    border-bottom: 8px solid #c6697f;
  }

  &--letter{
    background: #f395ab url("../img/taplink301218/back/letter.jpg") no-repeat center;
    background-size: 100% 100%;
    border-bottom: 8px solid #c6697f;
  }

  &--call-vasilisa{
    background: #f395ab url("../img/taplink301218/back/call-vasilisa.jpg") no-repeat center;
    background-size: 100% 100%;
    border-bottom: 8px solid #c6697f;
  }

  &--call-us{
    background: #f395ab url("../img/taplink301218/back/call-us.jpg") no-repeat center;
    background-size: 100% 100%;
    border-bottom: 8px solid #c6697f;
  }

  &--newsletters{
    background: #f395ab url("../img/taplink301218/back/11.jpg") no-repeat center;
    background-size: 100% 100%;
    border-bottom: 8px solid #c6697f;
    .taplink301218-img{
      bottom: 5px;
    }
  }

}

@media (max-width: 550px) {
  .taplink301218-nav {
    padding: 0;
  }

  .taplink301218 {
    min-height: 100%;
    padding: 6px 10px;
    font-size: 11px;
  }

  .taplink301218-img {
    width: 50px;
    margin-right: 5px;
  }
}