$purpur: #663cc4;
$white: #fff;
$content-color: #766876;
$purpur-sec: #4c328c;
$header-footer: #806dad;
$aside-color: #404046;
$round-back: #f2edf3;
$purpur-col: #fa5087;
$rose-col: #f96a98;
$rose-land: #fa327b;
$content-hwcolor: #6a6a70;
$hw-color: #282828;
$photo-col: #8b818e;
$rose-icons: #f9a9c4;
$brown: #938b98;
$green: #6dd797;
$moreblack: #404046;
$salat: #64cb73;
$landing-purpur: #8a3eae;
$landing-black: #1a1a1c;
$placegreen: #6d9fa3;
$button-green: #25ba48;
$header-landing-col: #e7e1ea;
$paragraph-list: #47444b;
$paragraph-white: #f9f5fd;
$course-price: #776e7b;
$course-headcard: #464445;
$course-rose: #ff5c96;
$course-content: #44383c;
$course-price: #5e484f;
$rose-price: #e2477a;
$check-color: #664c55;
$color-form: #845f6a;
$element-col: #3f3e3e;
$modal-paragraph: #845f6a;
$modal-link: #f44176;
$review-content: #f8f0f5;
$review-header: #f1e7ee;
$review-link: #423947;
$review-span: #f04caf;
$review-button: #8b4cb9;
$button-active: #6e6868;
$color-low: #907d9d;
$slider-content: #7a6589;
$slider-arrows: #8c47bc;
$card-content: #333333;
$review-button-sec: #b9b1b9;
$review-block: #aca7ae;
$bookmark: #e9dfe6;
$bookmark-link: #423947;
$training-header: #3e3c3f;
$training-content: #e94eaa;
$button-training: #f83393;
$back-training: #624e73;
$second-training: #604e6f;
$second-date: #a297ac;
$paragraph-sectrainig: #f3edf7;
$header-tape: #e74daf;
$time-tape: #f8f0f5;
$tape-paragraph: #4d484e;
$black: #000000;
$round-tape: #f35fb2;
$round-both: #f0e1e9;
$roof-content: #696969;
$tape-content: #52494f;
$tape-link: #ed62b0;
$tape-minutes: #3b3810;
$tape-back:  #dcd348;
$tape-rose: #f86f9c;
$tape-minutes-sec: #f790b2;
$tape-minutes-white: #f3eef4;
$tape-gray: #97969c;
$tape-add: #7d378b;
$tape-number: #fbf4f8;
$tape-raiting: #fdf7fb;
$raiting-numb: #833ab6;
$raiting-absolute: #fef5ff;
$raiting-absolute-cont: #5f2a67;
$content-window: #696969;
$club-content: #faf7f9;
$club-header: #7149a5;
$club-paragraph: #6a6568;
$club-paragraph-sec: #f23d83;
$club-list: #3f383d;
$club-green: #5fb32f;
$training-chat: #7536a7;
$message: #eee;
$message-text: #473853;
$club-label:  #4f514e;
$drop-club: #40463d;
$round-filter: #f1e7ee;
$content-filter: #b1b0b1;
$club-button: #a696a1;
$club-list-back: #fdf7fb;
$club-label: #918a8f;
$color-girl-club: #882dca;
$statistic-col: #7735c2;
$statistic-green: #52c23d;
$statistic-black: #555555;
$statistic-right-green: #69dc53;
$statistic-icons: #bcbcbc;
$paragraph-statistic: #734fa0;
$span-statistic: #ff357b;
$blue-check: #87CEFA;
$modal-number: #fab26b;
$hw-buttons: #776a7c;
$hw-statistic: #fffbce;
$hw-border: #e9dae5;
$meet-header: #f8f7fc;
$team-header: #fb5396;
$team-content: #e5d1db;
$landing-april: #ffcbc7;
$landing-btn: #7635d8;
$april-content: #f7f1f1;
$april-content-sec: #fceff1;
$april-header-small: #473f58;
$april-price: #ff4867;
$april-list:  #412e69;
$april-list-sec: #c7a8d4;
$april-date: #fedfe8;
$april-learn-header: #ff9fa0;
$april-header-tomatoes: #ffc7d0;
$book-footer: #f4fcfd;
$book-header: #3f3d3a;
$book-content: #637c7f;
$price-color: #e83736;;
$book-number: #fffbf1;
$back-number: #ed739c;
$book-low-header: #4c5650;
$header-absolute: #4fc8a8;
$content-absolute: #9dabac;
$content-book: #4b5859;
$book-trash: #ec85cd;
$gray-col: #f7f5f7;
$border-radio: #dbdbdb;
$blueberry: #7066cf;
$button-glamour: #f168c2;
$intensive-number: #ea5f65;
$intensive-header: #f06753;
$intensive-button: #714ce0;
$intensive-header-sec: #f7222b;
$intensive-numbers: #e15d5d;
$intensive-header-learn: #f62954;
$intensive-header-lection: #8462bb;
$intensive-content-lection: #161616;
$club-birthday-know: #f26a9f;
$club-date-color: #ff65cb;
$club-number-girls: #faa32f;