@import "vars";
@import "content";
@import "intro";
@import "homework";
@import "photos";
@import "card";
@import "meets";
@import "landing";
@import "choose";
@import "review";
@import "card-video";
@import "training";
@import "tape";
@import "club";
@import "club-filter";
@import "club-chat";
@import "statistic";
@import "modal-girl";
@import "homework-card";
@import "cabinet_hw";
@import "meet-club";
@import "meets-promo";
@import "landing-april";
@import "banner";
@import "landing-book";
@import "modalMeetingFriendPlus";
@import "landing-club";
@import "media-landing-club";
@import "team";
@import "package";
@import "meet-page";
@import "configurator-main";
@import "media-package";
@import "landing-intensive";
@import "banner-courses";
@import "meets-archive";
@import "travels";
@import "modal_travel";
@import "choose-course-050618";
@import "travel-discount";
@import "faq";
@import "banner-july";
@import "law";
@import "join";
@import "club_birthday";
@import "anti-manipulation";
@import "banner-august";
@import "calendar";
@import "calendar-study";
@import "articles";
@import "article";
@import "installment";
@import "cabinet";
@import "products";
@import "skills";
@import "aside-article";
@import "landing-102018";
@import "message";
@import "m-nav";
@import "header_bell";
@import "checkout";
@import "modal-delivery";
@import "shopfront";
@import "mila-book-page";
@import "manipulation121218";
@import "taplink301218";
@import "ball";
@import "pages";
@import "configurator";
@import "solodar-book-page";

*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}

*:-moz-placeholder {
	color: #666;
	opacity: 1;
}

*::-moz-placeholder {
	color: #666;
	opacity: 1;
}

*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	color: #666;
}
body input:required:valid,
body textarea:required:valid {
	color: #666;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.75;
	overflow-x: hidden;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}


@import "media";
@import "media-intensive";

