@font-face {
  font-family: '291CGmKB';
  src: url('291CGmKB.eot');
  src: url('291CGmKB.woff2') format('woff2'),
       url('291CGmKB.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AABebasNeue';
  src: url('AABebasNeue.woff') format('woff'),
       url('AABebasNeue.ttf') format('truetype'),
       url('AABebasNeue.svg#AABebasNeue') format('svg');
  font-weight: normal;
  font-style: normal;
}

